{% load static %}
<!-- 构建数据弹框-->
 	<div class="buildDataPanelView" id="buildDataPanelView" style="display: none;">
 		<div class="topline"></div>
		<div class="common-head">
			<span class="logo">构建数据</span>
			<div class="close">
				<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
			</div>
		</div>
 		<div class="build-body">
 			<div class="cube-name-radio">
 				<p class="cover-original-cube radio">覆盖数据表</p>
 				<p class="new-cube radio">新建数据表</p>
 			</div>
 			<div class="cube-name-input-div">
 				<span>数据表名称 : </span><input type="text" placeholder="请输入数据表名称" onfocus="toInputStyle(this)"  onblur="toInputStyleBlur(this)" onkeyup="this.value=this.value.replace(/[^\w\.\/\-]/ig,'')"/>
 			</div>
 			<div class="cube-name-input-div">
 				<span>数据表名称 : </span>
 				<div class="lists">
 					
					<select class='custom-select'>
						<!-- <option value="">123</option>
						<option value="">56343</option> -->
					</select>
 					
 				</div>
 			</div>
 			<div class="build-options">
 				<p class="title">构建选项</p>
 				<div class="save-type">
 					<p class="radio active lcoal-save">全部保存</p>
 					<p class="radio global-save">局部保存</p>
 				</div>
 				<div class="more-content-div" style="display: none;">
 					<p>更多设置 ( 单个表数据量 ) </p>
 					<label class="check-label"><input type="checkbox"/>行数</label><label class="text-label"><input type="text" onfocus="toInputStyle(this)"  onblur="toInputStyleBlur(this)"/></label>
 				</div>
 				<div class="msg"></div>
 			</div>
 		</div>
 		<div class="build-footer">
 			<a href="javascript:void(0)" class="moreSetting">更多设置</a><a href="javascript:void(0)" class="cancleBtn">取消</a><a href="javascript:void(0)" class="confirmBtn">确定</a>
 		</div>
 	</div>
 	<!-- 构建数据加载进度条 -->
 	<div id="build_upload" style="display: none">
  		<!-- 关闭按钮 -->
  		<div id="loding_close"></div>
 		<!-- 构建数据成功失败提示 -->
 		<div id="prompt_message" class="clear">
 			<span class="data_success_img" id="data_success_content"></span>
 			<span class="prompt_message_text">构建数据中</span>
 			<!--加载动态效果 -->
 			<div class="prompt_message_upload">
 				<span></span>
 				<span></span>
 				<span></span>
 			</div>
 		</div>

 		<!--加载进度条-->
 		<div id="loading_progress_bar">
 			<!--show -->
 			<div id="loading_progress_bar_active">
 				<!-- 进度 -->
 			<div id="loading_percentage" class="loading_percentage_ac"><span>0</span>%</div>
 			<!-- circle -->
 			<div id="loading_circle"></div>
 			</div>

 		</div>

 		<!-- 构建失败显示点击按钮 -->
 		<div id="build_false_btn" class="confirmBtn" style="display: none">
 			重新构建
 		</div>
 	</div>

	<!-- 构建的集合表的拆分功能 -->
	<div class="split_fileds">
		<!-- titile_line -->
		<div class="topline"></div>
		<!-- title_name -->
		<div class="common-head">
			<span class="logo">拆分字段</span>
			<div class="close">
				<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
			</div>
		</div>
		<!-- 拆分功能区域 -->
		<div class="splitFileds_handle_area">
			<!--预览-->
			<div class="split_preview">
				<h4>预览</h4>
				<div class="splitPreview_area">
					<ul>

					</ul>
				</div>
			</div>


			<!-- 拆分方式的选择 -->
			<div class="split_manner">
				<form>
					<input type="radio" id="list_separator" name="splitWay" class="radio_parent">
					<label for="list_separator" name='splitWay_separ' class="checked" id="label_separ">分隔符号</label>

					<input type="radio" name='splitSe_checked' id="slash"  class="radio_son">
					<label for="slash" name="label_check" class="checked" id="splitSe_label" splitSymbol="symbol_YZY_/">斜杠</label>

					<input type="radio" name='splitSe_checked' id="semicolon" class="radio_son">
					<label for="semicolon" name="label_check" splitSymbol="symbol_YZY_">分号</label>

					<input type="radio" name='splitSe_checked' id="comma" class="radio_son">
					<label for="comma" name="label_check" splitSymbol="symbol_YZY_,">逗号</label>

					<input type="radio" name='splitSe_checked' id="space" class="radio_son">
					<label for="space" name="label_check" splitSymbol="symbol_YZY_ ">空格</label>

<!-- 					<input type="radio" name='splitSe_checked' id="tab_btn" class="radio_son">
					<label for="tab_btn" name="label_check">Tab键</label> -->

					<input type="radio" name='splitSe_checked' id="other" class="radio_son">
					<label for="other" name="label_check" id="label_other" id="free_handle">其他</label>
					<input type="text" id="label_input_textarea" placeholder="- , ; : ....">

					<!-- 固定宽度 -->
					<input type="radio" id="fixed_width" name="splitWay" class="radio_parent">
					<label for="fixed_width" name='splitWay_separ' id="label_fixed">固定宽度</label>

				</form>

				<!-- 固定宽度标尺区域展示 -->
				<div class="fixedWidth_content">
					<div class="fixedWidth_scaleplate">
						<ul class="clear">

						</ul>
					</div>
					<div class="splitPreview_area">

					</div>

					<!-- fixedWidth_content footer -->
					<p>(单击鼠标建立分列线;双击分列线清除;拖拽移动分列线)</p>
				</div>
			</div>


			<!-- wraing -->
				<div class="splitWidth_waring">
					<img src={% static "dataCollection/images/gt_03.png" %} alt="waring">
					<span>日期/时间类型的数据拆分后均默认为字符串类型</span>
				</div>
		</div>




		<!-- 拆分取消确定区域 -->
		<div class="splitFileds_footer">
			<a href="javascript:void(0)" class="cancleBtn">取消</a>
			<a href="javascript:void(0)" class="confirmBtn">确定</a>
		</div>
	</div>

	<!-- 预警弹框 -->
	<div id="warningPanel" style="display: none;">
		<div class="topline"></div>
		<div class="common-head">
			<span class="logo">预警</span>
			<div class="close">
				<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
			</div>
		</div>
		<div class="warning-body">
			<div class="warning-addArea">
				<ul class="add-lists"></ul>
				<a href="javascript:void(0)" class="add-warning">添加预警</a>
			</div>
			<div class="warning-message">当前无预警，请添加，当数据触发预警条件后，自动推送消息</div>
		</div>
		<div class="empty" style="height:50px;background: transparent;"></div>
		<div class="common-filter-footer">
			<a href="javascript:void(0)" class="cancleBtn">取消</a>
			<a href="javascript:void(0)" class="confirmBtn">确定</a>
		</div>
	</div>

	<!-- 预警设置弹框 -->
	<div id="warningPanelSetting" style="display: none;">
		<div class="topline"></div>
		<div class="common-head">
			<span class="logo">条件设置</span>
			<div class="close">
				<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
			</div>
		</div>
		<div class="warning-body">
			<div class="warning-name-input-div">
				<span>预警名称</span>
				<input type="text">
			</div>
			<div class="warning-setting">
				<span>满足下列条件触发预警</span>
				<div class="warning-setting-area">
					<div class="scrollBody-box">
					<div class="line-condition first-line-condition">
						<div class="fieldSelctDiv">
							<select class="field-selct custom-select"></select>
						</div>
						<div class="conditionSelectDiv">
							<select class="condition-selct custom-select">
								<option value="=" data="=">等于</option>
								<option value="!=" data="!=">不等于</option>
								<option value="包含" data="contains">包含</option>
								<option value="不包含" data="notcontains">不包含</option>
								<option value="开头是" data="startswith">开头是</option>
								<option value="开头不是" data="notstartswith">开头不是</option>
								<option value="结尾是" data="endswith">结尾是</option>
								<option value="结尾不是" data="notendswith">结尾不是</option>
								<option value="为空" data="isnull">为空</option>
								<option value="非空" data="isnotnull">非空</option>
								<option value="前N个" data="limit">前N个</option>>
							</select>
						</div>
						<div class="detailConditionDiv">
							<select class="detail-condition  custom-select valueShow"></select>
							<label class="flagUserInputLabel"><span>N=</span><input type="text" class="valueShow"/></label>
							<label class="simpleUserInputLabel"><input type="text" class="valueShow"/></label>
					
						</div>
						<div class="close">
							<!-- <img src={% static "images/contentFilter/X_33.png" %} alt="关闭"> -->
						</div>
					</div>
					<img src={%static "dataCollection/images/add.png" %} alt="" class="add"/>
				</div>
				</div>
			</div>
			<div class="warning-time">
				<span>预警时间：</span>
				<span class="everyday">每日</span>
				<div class="timeSelect">
					<select name="" id="">
						<option value="12:00">12:00</option>
						<option value="08:00">08:00</option>
						<option value="10:00">10:00</option>
						<option value="14:00">14:00</option>
						<option value="16:00">16:00</option>
						<option value="18:00">18:00</option>
						<option value="20:00">20:00</option>
					</select>
				</div>
			</div>
		</div>
		<div class="empty" style="height:50px;background: transparent;"></div>
		<div class="common-filter-footer">
			<a href="javascript:void(0)" class="cancleBtn">取消</a>
			<a href="javascript:void(0)" class="confirmBtn">确定</a>
		</div>
	</div>























 	<!--跳转到仪表盘或者分析 -->
 	<!-- <div id="choose_menu"> -->
 		<!-- title -->
 		<!-- <div id="choose_menu_title">选择进入模块</div> -->

 		<!--模块点击展示-->
 <!-- 		<div id="choose_menu_content">
 			<ul>
 				<li>
 					<a href="../dashboard/pallasdata2"><img src={%static "dataCollection/images/dashboard.png" %} alt="dashboard" id="choose_dashboard"></a>
 					<p>仪表板</p>
 				</li>
 				<li>
 					<a href="javascript:void(0)"><img src={%static "dataCollection/images/analysis.png" %} alt="analysis" id="choose_analysis"></a>
 					<p>统计分析</p>
 				</li>
 				<li>
 					<a href="javascript:void(0)"><img src={%static "dataCollection/images/Data-integration.png" %} alt="Data-integration" id="choose_integration"></a>
 					<p>数据集成</p>
 				</li>
 			</ul>
 		</div>
 	</div> -->
 	{% include "dataCollection/panelFileOption.html" %}