{% load static %}
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" type="text/css" href={%static "dataCollection/css/dataAnalysis.css" %}/>
	<link rel="stylesheet" type="text/css" href={%static "dataCollection/css/tableDrag.css" %}/>
	<script src={% static "js/dataWork.js"%} type="text/javascript" charset="utf-8"></script>
    <script src={% static "dataCollection/js/dataAnalysis.js"%} type="text/javascript" charset="utf-8"></script>
        <script src={% static "dataCollection/js/jquery.jsPlumb-1.4.0-all.js"%} type="text/javascript" charset="utf-8"></script>
         <script src={% static "dataCollection/js/dragUI.js"%} type="text/javascript" charset="utf-8"></script>
       <script src={% static "dataCollection/js/tableDrag.js"%} type="text/javascript" charset="utf-8"></script>
        <script src={% static "dataCollection/js/judgeType.js"%} type="text/javascript" charset="utf-8"></script>
        <script src={% static "js/filter-common-hanlde.js"%} type="text/javascript" charset="utf-8"></script>
        <script src={% static "js/jQRangeSlider-min.js"%} type="text/javascript" charset="utf-8"></script>
		<script src={% static "js/jQDateRangeSlider-min.js"%} type="text/javascript" charset="utf-8"></script>
<div id="analysisContainer" style="display: none" class="pageModuleNav">
		<!--左侧折叠按钮-->
	<div id="foldSideBtn">
				<img src={%static "dataCollection/images/nr_47.png" %} />
	</div>

		<div class="leftSlide">
			<div id="connectDirector">
				<div class="conn">
					<span class="text">连接</span>
					<div class="btn" id="addDataSourceBtn">
						<img src={%static "dataCollection/images/add.png" %} alt="" title="新增数据源"/>
					</div>
					<div id="addSourceSelects">
						<img src={%static "dataCollection/images/SANJIAO_11.png" %} alt="" />
						<p class="addDataBase">新增数据平台</p>
						<input type="file"  multiple="multiple" name="file" id="addPanelFileInput"/>
						<p class="last">新增本地文件</p>
					</div>
				</div>
				<ul class="paltFormList">
                    
				</ul>
				<div class="line"></div>
			</div>
			<div id="dataSet">
				<div class="dataSetTitle">
					<span>数据集</span>
					<!--<div><img src= {% static "dataCollection/images/folder.png"%}  alt="" id="newFolder" title="新建文件夹"/></div>
					<div><img src={% static "dataCollection/images/data_set.png"%} alt="" id="newSet" title="新建数据集"/></div>-->
				</div>
				<ul class="detailDataSetList">
					<li id="baseSetTemplate">
						<div class="didBuildTables" openFlag="on">
							<img src= {% static "dataCollection/images/left_40.png"%} alt="" style="visibility: hidden;" class="didBuildImg" />
							<span class="title">已构建数据表</span>
							<img src={% static "dashboard/img/search.png" %} alt="base_search" class="base_search_img">
							<!-- 搜索框 -->
							<div class="sqlSearch clear">
								<div class="sqlSearch-img">
									<img src={% static "dashboard/img/search.png" %} alt="searchIcon">
								</div>
								<input type="text" class="sqlSearch-input" placeholder="请输入表名称">
							</div>
							<ul class="tablesList"></ul>
						</div>
						<div class="nowConnectedTables" openFlag="on">
							<img src= {% static "dataCollection/images/left_40.png"%} alt="" class="didBuildImg" />
							<span class="title">数据表</span>
							<div class="tablesList"></div>
						</div>
						
						<!--<div class="theDataSetContent">
								<div class="dataSetDetail">
									<div class="didBuildTables">
										<p class="buildTableTitle">已构建数据表</p>
										<ul class="tablesList"></ul>
									</div>	
								</div>
								
						</div>-->
						
					</li>
				</ul>
			</div>
			<!--连接数据库窗口-->
			<div id="analysis_dataList" style="display: none;">
		        <div class="top">
		        		<div id="analysiscloseDataList">
		        			<img src={%  static "images/X_11.png" %} alt="" >
		        		</div>   
		        </div>
		        <div class="commonDataDiv">
		            <p class="commonDataTitle">常用数据平台</p>
		            <ul class="baseDetail">
		           	 	<li>朝阳医院平台</li>
		                <li>MYSQL</li>
		                <li>ORACLE</li>
		                <li>SQLSERVER</li>
		            </ul>
		            <div class="line"></div>
		      	 </div>
		      	 <div class="moreData">
		      	 	<p id="moreDataBtn">更多数据平台</p>
		      	 </div>
	   		 </div>
			
		</div>
		<div class="mainDragArea" id="mainDragArea">
			
			<div id="dragTableDetailInfo" style="display: none;">
				<div class="imgBox" title="详情" flag = "detail">
					<img src={%static "dataCollection/images/sheet_50.png"  %} alt="" />
				</div>
				<div class="line"></div>
				<div  class="imgBox" title="删除表格" flag = "deleteTable">
					<img src={%static "dataCollection/images/sheet_54.png"  %} alt="" />
				</div>
				<div class="line"></div>
				<div  class="imgBox lastImgBox" title="删除连接" flag = "deleteCon">
					<img src={%static "dataCollection/images/sheet_47.png"  %} alt=""  />
				</div>
				
			</div>
			
			
			<div id="connectModalprompt" style="display: none;">
				<div class="topline"></div>
				<div class="common-head">
					<span class="logo">联接</span>
					<div class="close">
						<img src={% static "images/contentFilter/X_33.png" %} alt="关闭">
					</div>
				</div>
				<!--<div class="line"></div>-->
				<div class="btnSelects">
					<div class="active"><img src={%static "dataCollection/images/inline.png" %} alt="" /><p data="inner join">内联</p></div>
					<div><img src={%static "dataCollection/images/left.png"  %} alt="" /><p data="left join">左联</p></div>
					<div><img src={%static "dataCollection/images/right.png"  %} alt="" /><p data= "right join">右联</p></div>
					<div><img src={%static "dataCollection/images/Outreach.png"  %} alt="" /><p data="full join">全联</p></div>
					<div><img src={%static "dataCollection/images/breakoff.png" %} alt="" /><p data="delete">断开</p></div>
				</div>
				<div class="selectInfoDiv">
					<div class="selectHeader">
						<p></p>
						<p>条件</p>
						<p></p>
					</div>
					<div class="selectContent">
						<div class="selectDiv">
							<div class="selectContainer"><select name="" class="select_sourceList custom-select"></select></div>
							<div class="selectContainer"><select name="" class="select_comparison custom-select">
								<option value="=">=</option>
							</select></div>
							<div class="selectContainer"><select name="" class="select_targetList custom-select"></select></div>
						</div>
						
					</div>
					<div class="selectFooter">
						<span id="confirmRelationBtn">确定</span>
						<span id="cancleRelationBtn">取消</span>
					</div>
				</div>
				
			</div>
		</div>
		<div class="clear"></div>
	
	<div id="passway">
		<span id="constructData" class="active">构建数据</span>
<!-- 		<span id="dashBoardWay">仪表盘</span> -->
	</div>
	
	<!--新增数据集弹框-->
	<div id="newSetPrompt">
		<img src={%static "dataCollection/images/exit_33.png" %} alt="" title="关闭" id="closeNewSetPrompt"/>
		<div class="setFlagContainer">
			<img src={%static "dataCollection/images/setdata_37.png" %} alt="" />
			<p>创建数据集</p>
		</div>
		<div class="bottomInfo">
				<label>数据集名称:<input type="text"placeholder="请在此输入数据集名称" id="setNameInput" /></label>		
		</div>
		<div class="btnDivHelp">
			<a id="newSetConfirmBtn">确定</a>
		</div>
	</div>
	
	
	
	
		<!-- 数据详情-点击弹框详情按钮展示-->
	<div id="tableDataDetailListPanel" style="display: none;">
		<img src={% static "dataCollection/images/tableDataDetail/Drop-down.png" %} alt="" id="closeableDataDetailListPanel"/>
		<div class="topInfo">
			<div id="splitFileds_btn">
				<img src={%static "dataCollection/images/tableDataDetail/Split.png" %} alt="" title="拆分" />
			</div>
			<div id="screeningWasher">
				<img src={%static "dataCollection/images/tableDataDetail/filter.png" %} alt="" title="筛选" />
			</div>
			<div id="showHiddenEles">
				<img src={%static "dataCollection/images/tableDataDetail/handle_33.png" %} alt="" /><span>显示隐藏字段</span>
			</div>
			<div id="hiddenEle">
				<img src={%static "dataCollection/images/tableDataDetail/handle_33.png" %} alt="" /><span>隐藏字段</span>
			</div>
		</div>
		<div class="mainContent">
			<table  cellspacing="0" cellpadding="0">
				<thead>
					<tr></tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
	
</div>
