{% load static %}
<link rel="stylesheet" href={% static "dataCollection/css/dataSourceSelect.css" %}>
<script src={% static "dataCollection/js/dataSourceSelect.js"%} type="text/javascript" charset="utf-8"></script>
	<div class="dataSourceSelect-content pageModuleNav" id="dataSourceConnectSelectDiv">
		<div class="dataSourceSelect-welcomeInfo">
			<p class="welcome">欢迎使用Pallasdata Desktop</p>
			<p class="guide">需要更多指导?<a href="#">试看教程</a>或<a href="#">观看视频</a></p>
		</div>
		<div class="dataSourceSelect-dataSelect">
            <p class="dataSelect-title">导入或连接数据</p>
           <div class="dataSelect-detail">
				<div class="panelFile">
					<p class="title">文件</p>
					<div class="contentDiv">
						<p class="contentText unselectable">导入 Excel、文本文件、Access、空间文件、传统文件或更多</p>
						<input type="file" id="selectedPanelFile" multiple="multiple" name="file"/>
						<a>获取</a>
					</div>
				</div>
				<div class="dataBase">
					<p class="title">数据库</p>
					<div class="contentDiv">
						<p class="contentText">连接到数据库以及其他来源的实时数据</p>
						<a id="getBtn">获取</a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
        </div>
		<div class="dataSourceSelect-historyUse"></div>
		<div class="dataSourceSelect-example"></div>
		<div id="dataList" style="display: none;">
		        <div class="top">
		        		<div id="closeDataList">
		        			<img src={%  static "images/X_11.png" %} alt="" >
		        		</div>
		        </div>
		        <div class="commonDataDiv">
		            <p class="commonDataTitle">常用数据平台</p>
		            <ul class="baseDetail">
		           	 		<li class="first"><img src={%static "dataCollection/images/childHospital.png" %} alt=""><span>北京儿童医院辅助决策平台</span></li>
										<li><img src={%static "dataCollection/images/chaoyangHospital.png" %} alt=""><span>朝阳医院精细化管理平台</span></li>
		                <li><img src={%static "dataCollection/images/mysql.png" %} alt=""><span>MYSQL</span></li>
		                <li><img src={%static "dataCollection/images/oracle.png" %} alt=""><span>ORACLE</span></li>
		                <li><img src={%static "dataCollection/images/sqlserver.png" %} alt=""><span>SQLSERVER</span></li>
		            </ul>
		            <!-- <div class="line"></div> -->
		      	 </div>
		      	 <!-- <div class="moreData" style="display:none">
		      	 	<p id="moreDataBtn">更多数据平台</p>
		      	 </div> -->
	   		 </div>
	</div>
