{% load static %}
<style type="text/css">
	#panelFileSettingOption{position: absolute;width: 400px;height: 200px;background: white;font-size: 12px;margin: auto;left: 0;top: 0;right: 0;bottom: 0;}
	#panelFileSettingOption .common-head .logo{font-size: 12px;color: #202020;font-weight: bold;}
	#panelFileSettingOption .fileSettingBody .topOption{position: relative;height: 70px;}
	#panelFileSettingOption .fileSettingBody .topOption .delimiterOption{position: absolute;left: 20px;top: 10px;height: 23px;}
	#panelFileSettingOption .fileSettingBody .topOption .delimiterOption input{border: 1px solid #dedede;border-radius: 2px;width: 80px;height: 21px;}
	#panelFileSettingOption .fileSettingBody .topOption .quoteOption{position: absolute;right: 20px;top: 10px;height: 23px;}
	#panelFileSettingOption .fileSettingBody .topOption .quoteOption input{border: 1px solid #dedede;border-radius: 2px;width: 80px;height: 21px;}
	#panelFileSettingOption .fileSettingBody .bottomOption{margin-left: 20px;}
</style>
<div id="panelFileSettingOption" style="z-index: 1000;display: none;">
	<div class="topline"></div>
	<div class="common-head">
		<span class="logo">文件配置选项:</span>
		<span class="flag"></span>
		<div class="close">
			<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
		</div>

	</div>
	<div class="fileSettingBody">
		<div class="topOption">
			<label class="delimiterOption">分隔符选项: <input type="text" value=","/></label>
			<label class="quoteOption">字段转义符:<input type="text" value= '"'/></label>
		</div>
		<label class="bottomOption "><input type="checkbox"/><span class="unselectable">文件首行包含数据表的字段名</span></label>
		
	</div>
	<div class="common-filer-footer">
		<a href="javascript:void(0)" class="cancleBtn">取消</a>
		<a href="javascript:void(0)" class="confirmBtn">确定</a>
	</div>
</div>