{% load static %}
<div class="line-condition">
	<div class="relation_and_or_div">
		<span class="and active">且</span>
		<!--<span class="or">或</span>-->
	</div>
	<div class="fieldSelctDiv">
		<select class="field-selct"></select>
	</div>
	<div class="conditionSelectDiv">
		<select class="condition-selct custom-select">
			<option value="=" data="=">等于</option>
			<option value="!=" data="!=">不等于</option>
			<option value="包含" data="include">包含</option>
			<option value="不包含" data="ninclude">不包含</option>
			<option value="开头是" data="startwith">开头是</option>
			<option value="开头不是" data="startwith">开头不是</option>
			<option value="结尾是" data="endwith">结尾是</option>
			<option value="结尾不是" data="endwith">结尾不是</option>
			<option value="为空" data="isnull">为空</option>
			<option value="非空" data="isnotnull">非空</option>
			<option value="前N个" data="limit">前N个</option>
		<!--	<option value="后N个">后N个</option>-->
		</select>
	</div>
	<div class="detailConditionDiv">
		<select class="detail-condition custom-select"></select>
		<label class="flagUserInputLabel"><span>N=</span><input type="text" value ="10" /></label>
		<label class="simpleUserInputLabel"><input type="text" value="0" /></label>
		
	</div>
	<div class="close">
		<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
	</div>
</div>