{% load static %}
<div id="contentChooser" class="screeningWasher" style="z-index: 1000;display: none;">
	<div class="topline"></div>
	<div class="contentChooser_head common-head">
		<span class="logo">筛选器:</span>
		<span class="flag"></span>
		<div class="close">
			<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
		</div>

	</div>
	<div class="contentChooser_body common-fold-module">
		<ul class="btns">
			<li>
				<a href="#common">常规</a>
			</li>
			<li>
				<a href="#condition" class="conditionBtn">条件</a>
			</li>
		</ul>
		<div id="common">
			<div class="commonSearchDiv">
				<div class="outer">
					<input type="text" placeholder="请输入关键字" />
					<img src={% static "images/contentFilter/search.png" %} />
				</div>
			</div>
			<div class="detailSearchData">
				<ul class="dataList">

				</ul>
				<div class="handleBtns">
					<label for="selectAllInCommon" class="all"><input type="checkbox" id="selectAllInCommon" checked/>全选</label>
					<label for="cancleSelectedInCommmon" class="not"><input type="checkbox" id="cancleSelectedInCommmon"/>剔除</label>
				</div>
				<div class="clear"></div>
			</div>

			<!--摘要-->
			<div class="summaryPanel">
				<p>摘要</p>
				<hr style="margin-left: -11px;border: none;border-top: 1px solid #DEDEDE">
				<ul class="summary-list">
					<li class="filedLi">字段 : <span></span></li>
					<li class="selectedContentLi">所选内容 : <span>全部</span></li>
					<li class="conditionLi">
						<span class="flag">条件 : </span>
						<a href="javascript:void(0)">无</a>
					</li>
				</ul>

			</div>

		</div>
		<div id="condition">
			<p class="radio active empty" belong="condition">无</p>
			<div class="byFiledConditionSelectDiv">
				<div class="topTitle">
					<p class="radio byCondtion" belong="condition">按字段</p>
					<img src={%static "dataCollection/images/add.png" %} alt="" class="add"/>
				</div>
				<div class="scrollBody-box">
					<div class="mask_cover"></div>
					<div class="line-condition first-line-condition">
						<div class="fieldSelctDiv">
							<select class="field-selct custom-select"></select>
						</div>
						<div class="conditionSelectDiv">
							<select class="condition-selct custom-select">
								<option value="=" data="=">等于</option>
								<option value="!=" data="!=">不等于</option>
								<option value="包含" data="contains">包含</option>
								<option value="不包含" data="notcontains">不包含</option>
								<option value="开头是" data="startswith">开头是</option>
								<option value="开头不是" data="notstartswith">开头不是</option>
								<option value="结尾是" data="endswith">结尾是</option>
								<option value="结尾不是" data="notendswith">结尾不是</option>
								<option value="为空" data="isnull">为空</option>
								<option value="非空" data="isnotnull">非空</option>
								<option value="前N个" data="limit">前N个</option>>
							</select>
						</div>
						<div class="detailConditionDiv">
							<select class="detail-condition  custom-select valueShow"></select>
							<label class="flagUserInputLabel"><span>N=</span><input type="text" class="valueShow"/></label>
							<label class="simpleUserInputLabel"><input type="text" class="valueShow"/></label>
					
						</div>
						<div class="close">
							<!-- <img src={% static "images/contentFilter/X_33.png" %} alt="关闭"> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="common-filer-footer">
		<a href="javascript:void(0)" class="resetBtn">重置</a>
		<a href="javascript:void(0)" class="cancleBtn">取消</a>
		<a href="javascript:void(0)" class="confirmBtn">确定</a>
	</div>
</div>