{% load static %}
<style type="text/css">
	#user-filter-select{position: absolute;z-index:1000;width: 400px;background: white;border-radius: 5px;font-size: 12px;}
	#user-filter-select .filter-select-body{border-top: 1px solid #dedede;}
	#user-filter-select .filter-select-body .filer-detail-p{padding-left: 20px;height: 20px;}
	#user-filter-select .filter-select-body .didFilteredList{margin-left: 20px;border: 1px solid #dedede;border-radius: 2px;width: 360px;}
	#user-filter-select .filter-select-body .didFilteredList li{padding-left: 10px;}
	
	
	#fileds-content-select{position: absolute;z-index:1001;width: 400px;background: white;border-radius: 5px;font-size: 12px;}
	#fileds-content-select .fileds-content-select-body{border-top: 1px solid #dedede;}
	#fileds-content-select .fileds-content-select-body .fileds-list li{cursor: pointer;padding-left: 20px;padding-right: 20px;}
		#fileds-content-select .fileds-content-select-body .fileds-list li.active{background: #0d53a4;}
</style>
<div id="user-filter-select" style="display:none;">
	<div class="topline"></div>
	<div class="common-head">
		<span class="logo">编辑筛选器</span>
		<span class="flag"></span>
		<div class="close">
			<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
		</div>
	</div>
	<div class="filter-select-body">
		<p class="filer-detail-p">筛选详情</p>
			<ul class="didFilteredList">
				<li>hdadada</li>
				<li>dadadafaf</li>
			</ul>
	</div>
	<div class="empty" style="height: 60px;background: transparent;"></div>
	<div class="common-filer-footer">
		<a href="javascript:void(0)" class="resetBtn addBtn">添加</a>
		<a href="javascript:void(0)" class="cancleBtn">取消</a>
		<a href="javascript:void(0)" class="confirmBtn">确定</a>
	</div>	
</div>


<div id="fileds-content-select" style="display: none;">
	<div class="topline"></div>
	<div class="common-head">
		<span class="logo">选择字段</span>
		<span class="flag"></span>
		<div class="close">
			<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
		</div>
	</div>
	<div class="fileds-content-select-body">
		<ul class="fileds-list">
		</ul>
	</div>
	<div class="empty" style="height: 60px;background: transparent;"></div>
	<div class="common-filer-footer">
		<a href="javascript:void(0)" class="cancleBtn">取消</a>
		<a href="javascript:void(0)" class="confirmBtn">确定</a>
	</div>	
</div>