{% load static %}
<div id="number-filter" class="screeningWasher" style="z-index: 1000;display: none;" >
	<div class="topline"></div>
	<div class="number-filter-head common-head">
		<span class="logo">筛选器:</span>
		<span class="flag"></span>
		<div class="close">
			<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
		</div>
	</div>

	<div class="number-filter-body">
		
		<div class="condition-select-box">
			<div class="logic_relation_select_div">
				<select class="custom-select">
					<option value="=">=</option>
					<option value=">">&gt</option>
					<option value="<">&lt</option>
					<option value="<=">&lt=</option>
					<option value=">=">&gt=</option>
					<option value="!=">!=</option>
				</select>
			</div>
			<div class="verticalLine"></div>
			<div class="radiosBtns">
				<div class="userInput_box value-select-float">
					<p class="radio active userInputFlag" belong="number-filter" data = "userInputFlag"></p>
					<input type="text" placeholder="输入值" class="relationvalue"/>
				</div>
				<div class="userSelect_div value-select-float">
					<p class="radio userSelectFlag" belong="number-filter" data="userSelectFlag"></p>
					<select class="custom-select relationvalue">
						<option value="averge">平均值</option>
						<option value="max">最大值</option>
						<option value="min">最小值</option>
						<!--<option value="modeArr" id="modeOption">众数</option>-->
						<!--<option value="median">中位数</option>-->
					</select>
				</div>
			</div>
		</div>
	
	
		<div id="value-range-box" class="slider-common-setting">
				<div class="value-input-box">
					<span class="flag">值范围</span>
					<div class="scalesInput-box">
						<input type="text" class="min-value-input"/>
						<span>至</span>
						<input type="text" class="max-value-input"/>
					</div>
					
					
				</div>
				<div class="value-slider-box">
					<div class="slider-ranage"></div>
					<div class="range-flag">
						<span class="min-value-flag">0</span>
						<span class="max-value-flag">500</span>
					</div>
				</div>
		</div>
		
		
		<!--<div class="dataLimit_box">
			<div class="sortSelect_div limit_float_div">
				<select class="custom-select">
					<option value="最大">最大</option>
					<option value="最小">最小</option>
				</select>
			</div>
			<div class="userInput_div limit_float_div">
				<input type="text" placeholder="输入值"/>
			</div>
			<div class="unitSelect_div limit_float_div">
				<select class="custom-select">
					<option value="项">项</option>
					<option value="百分比">百分比</option>
				</select>
			</div>
		</div>-->
		
	
	</div>
	<div class="common-filer-footer number-filter-footer">
		<a href="javascript:void(0)" class="resetBtn">重置</a>
		<a href="javascript:void(0)" class="cancleBtn">取消</a>
		<a href="javascript:void(0)" class="confirmBtn">确定</a>
	</div>

</div>