@font-face { 
 	font-family: SimSun; 
  	src: url("../../font/simsun.ttf"); 
} 
#analysisContainer{position: relative;}
#analysisContainer .leftSlide{min-width: 200px;max-width: 300px;width: 200px;background: white;font-size: 12px;float: left;border-top:1px solid #f1f2f4;position: relative;}
#foldSideBtn{position: absolute;left: 193px;top: 400px;cursor: pointer; width: 14px;height: 38px;z-index: 300;}
#analysisContainer .leftSlide #connectDirector{padding-top: 16px;}
#connectDirector .conn{color: #808080;position: relative;padding-left: 10px;}
#connectDirector .conn .btn{position: absolute;right: 10px;width: 40px;top: 0;text-align: right;cursor: pointer;}
#connectDirector .paltFormList{padding-left: 10px;}
#connectDirector .paltFormList>li{padding-top: 10px;padding-bottom: 10px;height: 13px;position: relative;}
#connectDirector .paltFormList li span{display: inline-block;margin-left: 10px;vertical-align: top;line-height: 13px;}
#connectDirector .paltFormList li .moreHanldeBtn{width: 30px;height: 100%;float: right;cursor: pointer;text-align: center;line-height: 13px;}
#connectDirector .paltFormList li .moreHanldeBtn img{vertical-align: middle;}
#connectDirector .paltFormList li #connectMoreHanlde{position: absolute;width: 60px;border:1px solid #dedede;border-bottom: 0;background: white;left: 180px;top: 23px;z-index: 9999;}
#connectDirector .paltFormList li #connectMoreHanlde li{text-align: center;font-size: 12px;line-height: 22px;height: 21px;border-bottom: 1px solid #dedede;cursor: pointer;}
#connectDirector .paltFormList li #connectMoreHanlde li:hover{background: #dedede;}

#connectDirector .line{height: 1px;background: #dedede;margin-top: 20px;}
#dataSet .dataSetTitle{padding-left: 10px;color: #808080;padding-right: 10px;height: 36px;padding-top: 4px;line-height: 36px;}
#dataSet .dataSetTitle div{float: right;height: 100%;cursor: pointer;}
#dataSet .dataSetTitle div:nth-child(2){margin-left: 10px;}
#dataSet .detailDataSetList  li .dataSetItemTitle{padding-left: 10px;height: 21px;line-height: 21px;cursor: pointer;color: #005eca;}
#dataSet .detailDataSetList  li .dataSetItemTitle img{padding-bottom: 3px;}
#dataSet .detailDataSetList  li .dataSetItemTitle span{display: inline-block;margin-left: 10px;}
#dataSet .detailDataSetList .dataSetDetail{padding-left: 30px;padding-right: 10px;}
#dataSet .detailDataSetList .dataSetDetail .dbDataShow .combo-select{height: 21px;}
#dataSet .detailDataSetList .dataSetDetail .dbDataShow .combo-input{padding: 0;height: 100%;user-select: none;cursor: pointer;text-align: left;text-indent: 5px;}
#analysisContainer .leftSlide #dataSet .detailDataSetList li .theDataSetContent .dataSetDetail .didBuildTables .buildTableTitle{color: #808080;}
#analysisContainer .leftSlide #dataSet .detailDataSetList li .theDataSetContent .dataSetDetail .didBuildTables ul.tablesList li{margin-top: 5px;cursor: pointer;}

.detailDataSetList li  .dbDataShow{margin-top: 10px;}
.detailDataSetList li  .dbDataShow .tablesOfaData{/*padding-left: 30px;*/overflow-y: auto;max-height: 135px; border-bottom: 1px solid #dedede;}
.detailDataSetList li .dbDataShow .tablesOfaData p,.detailDataSetList li .panelDataShow .panelFileSheetData p{padding-top: 10px;padding-right: 10px;height:15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor: pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.detailDataSetList li .panelDataShow .panelTitle{color: #808080;padding-top: 15px;}
#analysisContainer .mainDragArea{background: #f1f2f4;position: relative;}
#analysisContainer .mainDragArea .boxDiv{border: 1px solid #dedede;font-size: 12px;display: inline-block;background: white;position: absolute;/*top: 20px;left: 30px;*/cursor: move;min-width: 150px;max-width: 150px;box-shadow: 0px 3px 5px 0px rgba(0,49,98,0.08)}
#analysisContainer .mainDragArea .boxDiv .tableTitle{background: #f5f5f5;padding-left: 10px;height: 25px;line-height: 25px;/*overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/}
#analysisContainer .mainDragArea .boxDiv .tableTitle img{float: left;margin-top:10px;margin-right: 5px;}
#analysisContainer .mainDragArea .boxDiv .tableTitle p{float: left;padding-left: 5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height: 100%;max-width: 110px;}
#analysisContainer .mainDragArea .boxDiv .fields {overflow-y: scroll;max-height: 300px;overflow-x: hidden;}
#analysisContainer .mainDragArea .boxDiv .fields input[type=checkbox]{float: left;margin-top:5px;}
#analysisContainer .mainDragArea .boxDiv .fields li{padding-top: 10px;background: white;padding-left: 10px;height: 20px;line-height: 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width: 100%;}
#analysisContainer .mainDragArea .boxDiv .fields li span{padding-left: 5px;display: inline-block;}
/* 左侧导航栏调整大小光标样式*/
#analysisContainer .leftSlide .ui-resizable-e{cursor: ew-resize;}


#newSetPrompt{width: 350px;height: 260px;background: white;position: absolute;display: none;z-index: 410;border-radius: 10px;}
#newSetPrompt #closeNewSetPrompt{position: absolute;right: 0;top: 0;cursor: pointer;}
#newSetPrompt .setFlagContainer{width: 100%;text-align: center;font-size: 14px;font: bold;position: absolute;top: 30px;}
#newSetPrompt .setFlagContainer p{margin-top: 20px;}
#newSetPrompt .bottomInfo{position: absolute;width: 100%;text-align: center;font-size: 12px;bottom: 100px;}
#newSetPrompt .btnDivHelp{width: 100%;position: absolute;text-align: center;bottom: 30px;}
#newSetPrompt  #setNameInput{border-bottom: 1px solid #dedede;height: 20px;width: 180px;text-indent: 10px;}
#newSetPrompt  #newSetConfirmBtn{font-size: 12px;color: white;display: inline-block;width: 160px;height: 30px;background: #0d53a4;line-height: 30px;border-radius: 2px;cursor: pointer;-webkit-user-select: none;}


#connectDirector #addSourceSelects{position: absolute;width: 88px;height: 50px;border: 1px solid #dedede;text-align: center;right: -60px;top:20px;background: white;display: none;z-index: 100;}
#connectDirector #addSourceSelects img{position: absolute;left: 10px;top: -6px;}
#connectDirector #addSourceSelects p{width: 80px;height: 24px;line-height: 25px;border-bottom: 1px solid #dedede;display: inline-block;cursor: pointer;font-size: 10px;margin-left: 3px;}
#connectDirector #addSourceSelects .last{border: 0px;height: 25px;}
#connectDirector #addSourceSelects input{position: absolute;height: 25px;width: 80px;bottom: 0;right: 5px;opacity: 10;cursor: pointer;z-index: 101;font-size: 0;opacity: 0;}
/*添加数据平台按钮，点击之后的框*/
#analysis_dataList{width: 200px;background: #f1f2f4;position: absolute;top: 0;right: 0px;font-size: 14px;color: 202020;z-index: 420;height: 100%;}
#analysis_dataList .top{height: 60px;background: #e7e7e7;position:relative;width: 100%;top: 0;left: 0;}
#analysiscloseDataList{height: 100%;width:30px;position: absolute;right: 20px;cursor: pointer;}
#analysis_dataList .top img{position: absolute;right: 0;top: 24px;}
#analysis_dataList .commonDataDiv{padding-top: 20px;}
#analysis_dataList .commonDataDiv .commonDataTitle{margin-left: 20px;color: #808080;}               
#analysis_dataList .baseDetail{margin-left: 35px;margin-top: 20px;}
#analysis_dataList .baseDetail li {padding-top: 10px; cursor: pointer;}
#analysis_dataList .line{height: 1px;width: 100%;background: #dedede;margin-top: 20px;}
#analysis_dataList .moreData{margin-top: 20px;width: 100%;}
#analysis_dataList #moreDataBtn{margin-left: 20px;color:#808080;cursor: pointer;}
/*table详情,光标移入的时候*/
.mainDragArea #dragTableDetailInfo{border: 1px solid #dedede;background: white;position: absolute;top: 30px;height: 33px;}
.mainDragArea #dragTableDetailInfo .imgBox{float: left;position: relative;width: 23px;height: 23px;border-radius: 2px;margin-left: 10px;cursor: pointer;margin-top: 5px;background: #f5f5f5;}
.mainDragArea #dragTableDetailInfo .imgBox:nth-child(1){margin-left: 5px;}
.mainDragArea #dragTableDetailInfo .lastImgBox{margin-right: 5px;}
.mainDragArea #dragTableDetailInfo .line{float: left;width: 1px;background: #dedede;height: 13px;margin-left: 10px;margin-top: 10px;}
.mainDragArea #dragTableDetailInfo .active{background: #dedede;}
.mainDragArea #dragTableDetailInfo .imgBox img{position: absolute;margin: auto auto;left: 0;top: 0;right: 0;bottom: 0;}
.ui-tooltip{font-size: 12px;color: #808080;background: white;opacity: 1;;border-radius: 6px;box-shadow: none;border: 0px;background: #dedede;}

#tableDataDetailListPanel{position: absolute;border: 1px solid #dedede;font-size: 12px;background: white;text-align: center;right: 0;bottom: 0;border-left: 0px;z-index: 300;}
#tableDataDetailListPanel #closeableDataDetailListPanel{position: absolute;top: 0;z-index: 300;cursor: pointer;}
#tableDataDetailListPanel .topInfo{height: 60px;border-left: 1px solid #dedede;}
#tableDataDetailListPanel .topInfo div{height: 60px;float: right;margin-right: 20px;line-height: 60px;cursor: pointer;}
#tableDataDetailListPanel .topInfo #splitFileds_btn{opacity: 0.5}
#tableDataDetailListPanel .topInfo #top_expression{font-size: 16px;float: left;}
#tableDataDetailListPanel .topInfo div img{vertical-align: text-top;}
#tableDataDetailListPanel .topInfo div span,#tableDataDetailListPanel .topInfo a{margin-left: 5px;vertical-align: middle}
#tableDataDetailListPanel .topInfo a:hover{color: #0d53a4}
#tableDataDetailListPanel .mainContent{overflow: auto;max-height: 440px;}
#tableDataDetailListPanel .mainContent table{border: 1px solid #dedede; border-collapse: collapse;}
#tableDataDetailListPanel .mainContent table thead th{border: 1px solid #dedede;min-width: 148px;height: 48px;font-size: 14px;cursor: pointer;}
#tableDataDetailListPanel .mainContent table thead th span{margin-left: 5px;}
#tableDataDetailListPanel .mainContent table thead th img{cursor: pointer;}
#tableDataDetailListPanel .mainContent table tbody td{border: 1px solid #dedede;min-width: 148px;height: 28px;}
#tableDataDetailListPanel .mainContent table tbody tr:nth-of-type(odd){background: white;}
#tableDataDetailListPanel .mainContent table tbody tr:nth-of-type(even){background: #f5f5f5;}
/*显示集合表样式*/
.rightConent #analysisContainer .expression_show{left: 0;top: 0;visibility: visible;box-sizing: border-box;padding: 0px 20px;background:#f1f2f4}
.split_error{font-size: 12px;color: red;float:left;line-height: 50px;margin-left: 20px}
._jsPlumb_endpoint{z-index: 1}
/*拆分部分功能样式*/
.split_fileds{width: 400px;height: 490px;background: white;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;border-radius: 5px;display: none;z-index: 404;}
.split_fileds .common-head .logo{font-size:14px;color: #000;}
.split_fileds .common-head{height: 50px;box-sizing: border-box;border-bottom: 1px solid #DEDEDE;}
.split_fileds .splitFileds_handle_area{width:360px;height: 390px;margin:0 auto;padding: 10px 0px;box-sizing: border-box;position: relative;}
.split_fileds .splitFileds_footer{border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.split_fileds .splitFileds_footer a{font-size: 12px;}
.split_fileds .splitFileds_handle_area .split_preview{width:100%;}
.split_fileds .splitFileds_handle_area .split_preview h4{font-size: 12px;color: #808080;font-weight: normal;padding-bottom: 10px}
.split_fileds .splitFileds_handle_area .split_preview .splitPreview_area{width: 100%;height:60px;box-sizing:border-box;background: #F5F5F5;overflow-y: auto;border: 1px solid #DEDEDE;}
.split_fileds .splitFileds_handle_area .split_manner{padding-top: 15px;}
.split_fileds .splitFileds_handle_area .split_manner input[type="radio"]{margin: 3px 3px 0px 5px;display: none}
/*.split_fileds .splitFileds_handle_area .split_manner .radio_son[type="radio"]{vertical-align: middle;display: none}*/



/*.split_fileds .splitFileds_handle_area .split_manner #other{margin-top: 6px;}*/
.split_fileds .splitFileds_handle_area .split_manner label[name="splitWay_separ"],.split_fileds .splitFileds_handle_area .split_manner label[name="label_check"]{padding-left: 20px;cursor:pointer;background:url("../../images/Unselected.png") no-repeat left;font-size: 12px;display: block;margin-bottom: 5px;}
.split_fileds .splitFileds_handle_area .split_manner label[name="label_check"]{font-size: 12px;vertical-align: middle;display: inline-block;margin-left:48px}
.split_fileds .splitFileds_handle_area .split_manner label[name="splitWay_separ"].checked{background: url("../../images/selected.png") no-repeat left;}
.split_fileds .splitFileds_handle_area .split_manner label[name="label_check"].checked{background: url("../../images/selected.png") no-repeat left;}
.split_fileds .splitFileds_handle_area .split_manner #label_input_textarea{border: 1px solid #DEDEDE;width: 285px;height: 23px;margin-top:5px;margin-bottom: 5px;}
.split_fileds .splitFileds_handle_area .split_manner #splitSe_label,.split_fileds .splitFileds_handle_area .split_manner #label_other{margin-left: 20px;}
.split_fileds .splitFileds_handle_area .split_manner #label_other{margin-right: 3px;}
.split_fileds .splitFileds_handle_area .split_manner .fixedWidth_content{width:340px;margin-top: 5px;margin-left: 20px;}
.split_fileds .splitFileds_handle_area .split_manner .fixedWidth_scaleplate{width:340px;height: 10px;overflow: hidden;border-bottom: 1px solid #000;margin-top: 10px;}
.split_fileds .splitFileds_handle_area .split_manner .fixedWidth_scaleplate ul{width: 340px;height: 100%;transform: rotateX(180deg);}
.split_fileds .splitFileds_handle_area .split_manner .fixedWidth_scaleplate ul .scaleplate_li{width: 1px;background: #000;margin-right:5px;float: left;}
.split_fileds .splitFileds_handle_area .split_manner .fixedWidth_content .splitPreview_area{width: 340px;background: white;border:1px solid #DEDEDE;height: 60px;margin-top: 10px;overflow-y: auto;position: relative;}
.split_fileds .splitFileds_handle_area .split_manner .fixedWidth_content p {font-size: 12px;color: #808080;margin-top: 5px;}
.split_fileds .splitFileds_handle_area .splitWidth_waring{position: absolute;bottom: 10px;}
.split_fileds .splitFileds_handle_area .splitWidth_waring img{vertical-align: middle;}
.split_fileds .splitFileds_handle_area .splitWidth_waring span{font-size: 12px;color: #808080;}
.split_fileds .splitFileds_handle_area .split_preview .splitPreview_area ul .pre_show_class,.split_fileds .splitFileds_handle_area .split_manner .fixedWidth_content .splitPreview_area ul .pre_show_class{font-size: 12px;height:16px;line-height:16px;font-family:SimSun;font-weight: bold;}
.split_fileds .splitFileds_handle_area .split_manner .fixedWidth_content .splitPreview_area .splitWidth_line_only{width: 5px;background:transparent;border-left:1px solid red;position: absolute;top: 0;z-index: 99}



/* 构建数据集弹框*/
#buildDataPanelView{width: 400px;border-radius: 5px;position: absolute;background: white;font-size: 12px;height: 300px;z-index: 410;}
#buildDataPanelView .build-body{padding-top: 10px;border-top: 1px solid #DEDEDE;}
#buildDataPanelView .build-body .cube-name-radio .radio:nth-of-type(1){margin-left: 20px;}
#buildDataPanelView .build-body .cube-name-radio .radio:nth-of-type(2){margin-left: 40px;}

#buildDataPanelView .build-body .cube-name-input-div{padding-left: 37px;height: 23px;line-height: 23px;}
#buildDataPanelView .build-body .cube-name-input-div input{height: 21px;border:1px solid #dedede;text-indent: 5px;width: 250px;border-radius: 2px;}

#buildDataPanelView .build-body .build-options{padding-top: 10px;}
#buildDataPanelView .build-body .build-options .title{height: 25px;line-height: 27px;padding-left: 20px;color: #808080;}
#buildDataPanelView .build-body .build-options .save-type{box-sizing: border-box;padding: 0px 0px 0px 20px}
#buildDataPanelView .build-body .build-options .save-type .global-save{margin-left: 40px;}
#buildDataPanelView .build-body .build-options .more-content-div{box-sizing:border-box;padding-left: 20px;padding-top: 25px;}
#buildDataPanelView .build-body .build-options .more-content-div p{color: #808080;padding-bottom: 10px}
#buildDataPanelView .build-body .build-options .more-content-div .text-label input{box-sizing:border-box;border:1px solid #dedede;border-radius: 2px;height: 23px;width: 150px;margin-left: 10px;text-indent: 5px;}
#buildDataPanelView .build-body .build-options .more-content-div .check-label input{margin-right: 10px;float: left;margin-top: 3px;}
#buildDataPanelView .build-footer,.split_fileds .splitFileds_footer{height: 50px;background: #f5f5f5;position: absolute;bottom: 0;width: 100%;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
#buildDataPanelView .build-footer a,.split_fileds .splitFileds_footer a{width: 70px;height: 30px;position: absolute;border-radius: 2px;line-height:30px;text-align: center;box-sizing: border-box;}
#buildDataPanelView .build-footer .moreSetting{left: 10px;top: 10px;color: #0d53a4;}
#buildDataPanelView .build-footer .confirmBtn,.split_fileds .splitFileds_footer .confirmBtn{background: #0D53A4;color: white;right: 20px;top: 10px;border: 1px solid #0D53A4;}
#buildDataPanelView .build-footer .cancleBtn,.split_fileds .splitFileds_footer .cancleBtn{top: 10px;right: 110px;border:1px solid #0d53a4; color: #0d53a4;}
/*构建数据加载进度条*/
#build_upload{width:840px;height: 260px;position: absolute;border-radius: 10px;background: white;z-index:666;top:0;right: 0;bottom: 0;left: 0;margin: auto;}
#build_upload #loding_close{width: 23px;height: 23px;background: url(../../images/exit_33.png) no-repeat center;position: absolute;right: 0;top: 0;cursor:pointer;}
#build_upload #prompt_message{width: 120px;text-align: center;font-size: 14px;margin: 30px auto 0;font-weight: bold;height:24px;line-height: 24px}
#build_upload #prompt_message .prompt_message_text{float: left;line-height: 27px;}
.data_success_img{float:left;width: 13px;height: 12px;background:url(../../images/success.png) no-repeat center;margin:6px;display: none}
#build_upload .prompt_message_upload{width: auto;height: 100%;float: left;margin-top: 10px;}
#build_upload .prompt_message_upload span{float:left;width: 3px;height: 3px;background:#000;border-radius: 50%;margin-left: 3px;}
#build_upload .prompt_message_upload span:nth-child(1){animation:loading_span 1s 0.3s linear infinite;-webkit-animation:loading_span 1s 0.3s linear infinite;-o-animation:loading_span 1s 0.3s linear infinite;-moz-animation:loading_span 1s 0.3s linear infinite;}
#build_upload .prompt_message_upload span:nth-child(2){animation:loading_span 1s 0.6s linear infinite;-webkit-animation:loading_span 1s 0.6s linear infinite;-o-animation:loading_span 1s 0.6s linear infinite;-moz-animation:loading_span 1s 0.6s linear infinite;}
#build_upload .prompt_message_upload span:nth-child(3){animation:loading_span 1s 0.9s linear infinite;-webkit-animation:loading_span 1s 0.9s linear infinite;-o-animation:loading_span 1s 0.9s linear infinite;-moz-animation:loading_span 1s 0.9s linear infinite;}
#build_upload #build_false_btn{width:160px;height: 30px;background:#0d53a4;text-align: center;line-height: 30px;margin: 65px auto 0;color: white;border-radius:2px;font-size: 12px;cursor:pointer;}
#loading_progress_bar{width: 800px;height: 8px;background: #dcdcdc;margin: 80px auto 0;border-radius:5px;position: relative;}
#loading_progress_bar_active{width:0px;height:10px;position: absolute;left: 0;top:-1px;background-image:linear-gradient(to right,#0d53a4,#00bdc9);border-radius:5px;box-shadow:0px 0px 2px rgba(0,0,0,0.2) inset;}
.loading_percentage_ac{font-size: 12px;font-weight: bold;width:40px;position: absolute;right:-40px;top:-16px;color: #00bdc9;transform: rotate(0deg);}
#loading_progress_bar #loading_circle{width:6px;height:6px;border-radius: 50%;background: white;float: right;margin-top:2px;margin-right:-6px;box-shadow: 0px 0px 3px rgba(0,0,0,0.2) inset;}
/*.loading_init_class{transform:rotate(0deg);color: #00bdc9;right: -10px;top: -16px;font-size: 12px;font-weight: bold;width:40px;position: absolute;}*/
.loading_error_img_class{float:left;width: 14px;height: 14px;background: url(../../images/false.png) no-repeat center;margin: 5px}
.loading_error_percentage{color: red;right: -20px;top: -15px;font-size: 12px;font-weight: bold;width:40px;position: absolute;animation: percentage_rotate 0.2s ease-out 1 forwards;-webkit-animation: percentage_rotate 0.2s ease-out 1 forwards;-moz-animation: percentage_rotate 0.2s ease-out 1 forwards;-o-animation: percentage_rotate 0.2s ease-out 1 forwards;}


/*选择进入模块*/
#choose_menu{width:840px;height: 260px;border-radius:10px;position: absolute;top: 0;right: 0;bottom: 0;left:0;margin:auto;background:white;z-index:666;display: none}
#choose_menu #choose_menu_title{text-align: center;margin-top: 30px;font-size:14px;font-weight: bold;}
#choose_menu #choose_menu_content{width: 100%;height:auto;margin-top:50px;}
#choose_menu #choose_menu_content ul{width: 100%;}
#choose_menu #choose_menu_content ul li{width: 280px;float: left;text-align: center;box-sizing: border-box;}
#choose_menu #choose_menu_content ul li:nth-child(1){border-right: 1px solid #dedede}
#choose_menu #choose_menu_content ul li:nth-child(2){border-right: 1px solid #dedede}
#choose_menu #choose_menu_content ul li img{cursor: pointer}
#choose_menu #choose_menu_content ul li p {margin-top: 25px;}























/*loding动画*/

@keyframes loading_span{
	from{background:#bdbdbd;}
	to{background:#000}
}

@-webkit-keyframes loading_span{
	from{background:#bdbdbd;}
	to{background:#000}
}
@-o-keyframes loading_span{
	from{background:#bdbdbd;}
	to{background:#000}
}
@-moz-keyframes loading_span{
	from{background:#bdbdbd;}
	to{background:#000}
}


/*旋转*/

@keyframes percentage_rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(30deg);}
}

@-webkit-keyframes percentage_rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(30deg);}
}
@-o-keyframes percentage_rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(30deg);}
}
@-moz-keyframes percentage_rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(30deg);}
}
