.dragActive{border: 2px dotted green;}
.dropHover{border: 1px dotted red;}
.connectionImg{font-size: 12px;cursor: pointer;}
#connectModalprompt{width: 350px;border-radius: 6px;background: white;position: absolute;z-index: 20;}
#connectModalprompt .title{text-align: center;font-size: 16px;width: 100%;height: 50px;border-bottom: 1px solid #dedede;;line-height: 50px;}
#connectModalprompt .btnSelects{width: 100%;height: 100px;font-size: 12px;}
#connectModalprompt .btnSelects div{float: left;width: 20%;height: 78px;text-align: center;padding-top: 22px;cursor: pointer;}
#connectModalprompt .btnSelects .active{background: #fff2db;}
#connectModalprompt .btnSelects div p{height: 12px;padding-top: 12px;}
#connectModalprompt .selectInfoDiv .selectHeader{height: 23px;background: #e7e7e7;border-top: 1px solid #dedede;font-size: 12px;color: #808080;line-height: 23px}
#connectModalprompt .selectInfoDiv .selectHeader p{text-align: center;border-right: 1px solid #dedede;height: 100%;float: left;}
#connectModalprompt .selectInfoDiv .selectHeader p:nth-child(1){width: 149px;}
#connectModalprompt .selectInfoDiv .selectHeader p:nth-child(2){width: 49px;}
#connectModalprompt .selectInfoDiv .selectHeader p:nth-child(3){width: 129px;}

#connectModalprompt .selectInfoDiv .selectContent .selectDiv{height: 23px;/*border-bottom: 1px solid #dedede;*/}
#connectModalprompt .selectInfoDiv .selectContent .selectDiv .combo-select{height: 21px;border-radius: 0px;border-left: 0;}
#connectModalprompt .selectInfoDiv .selectContent .selectDiv .combo-input{padding: 0;height: 100%;user-select: none;cursor: pointer;text-align: left;text-indent: 5px;}
#connectModalprompt .selectInfoDiv .selectContent .selectDiv>div.selectContainer{float: left;height: 23px;}
#connectModalprompt .selectInfoDiv .selectContent .selectDiv>div.selectContainer:nth-child(1){width: 150px;}
#connectModalprompt .selectInfoDiv .selectContent .selectDiv>div.selectContainer:nth-child(2){width: 50px;}
#connectModalprompt .selectInfoDiv .selectContent .selectDiv>div.selectContainer:nth-child(3){width: 130px;}
#connectModalprompt .selectFooter{background: #f5f5f5;height: 50px;overflow: hidden;}
#connectModalprompt .selectFooter span{float: right;text-align: center;width: 70px;height: 28px;font-size: 12px;border-radius: 2px;border: 1px solid #0d53a4;margin-right: 10px;margin-top: 10px;line-height: 28px;cursor: pointer;}
#connectModalprompt .selectFooter #confirmRelationBtn{background: #0d53a4;color: #FFFFFF;}
#connectModalprompt .selectFooter #cancleRelationBtn{background: #FFFFFF;color: #0d53a4;}

/* 构建数据导航条*/
#passway{position: fixed;background: transparent;right: 20px;top: 90px;font-size: 12px;}
#passway span{display: inline-block; color: white;width: 100px;height: 30px;border-radius:2px;background: #d1d1d1;text-align: center;;line-height: 30px;margin-left: 10px;cursor: pointer;}
#passway .active{background: #ff7e00;}

