	{% load static %}
	<!-- 删除弹出框 -->
	<div id="delete_area">
		<!-- 关闭按钮 -->
		<div id="delete_area_close">
			<img src={% static "images/contentFilter/exit_33.png" %} alt="delect_close">
		</div>
		<!-- 展示图标 -->
		<div class='delete_area_img'>
			<img src={% static "images/contentFilter/delete_37.png"%} alt="delect_show">
		</div>
		<!-- text -->
		<div class="delete_area_text">
			<h4></h4>
		</div>
		<!--check -->
		<div class="delete_checked clear">
			<!-- 复选框自定义样式 -->
			<div class="delete_area_input">
				<div class="deltete_input_wrap">
					<input type="checkbox" id="checkboxFourinput">
					<label for="checkboxFourinput"></label>
				</div>
			</div>
			<p></p>
		</div>
		<!--确定按钮 -->
		<div class='delete_area_ok_btn'>
			确定
		</div>
	</div>