<!DOCTYPE html>
<html lang="en" scroll="no">
<head>
    <meta charset="UTF-8">
    <title>Pallasdata Desktop</title>
    {% load static %}
    <script src={%static "js/jquery.min.js"%} type="text/javascript" charset="utf-8"></script>
    <!-- <script src={% static "js/datatables.min.js"%} type="text/javascript" charset="utf-8"></script> -->
     <script src={%static "js/httpSafe.js"%} type="text/javascript" charset="utf-8"></script>
    <script src={%static "js/jquery-ui.min.js"%} type="text/javascript" charset="utf-8"></script>
    <script src={%static "js/jquery.combo.select.js"%} type="text/javascript" charset="utf-8"></script>
    <script src={% static "js/spin.min.js"%} type="text/javascript" charset="utf-8"></script>
    <script src={% static "js/nav_base.js"%} type="text/javascript" charset="utf-8"></script>
    <!-- <link rel="stylesheet" href={% static "css/datatables.min.css" %} /> -->
    <link rel="stylesheet" type="text/css" href={%static "css/jquery-ui.min.css" %}/>
    <link rel="stylesheet" type="text/css" href={%static "css/combo.select.css" %}/>
    <link rel="stylesheet" href={% static "css/nav_base.css" %} />
</head>

<body scroll="no" style="overflow: hidden;" >
	<div class="container">
		<div class="topInfo" id="baseTopInfo">
			<img  id="logo" src={% static "images/logo.png" %}/ >
			<div id="loginInfo">
				<img class="userHead child" src={% static "images/nav_icon_user.png" %}></img>
				<span class="userName child">医智云</span>
          <div class="child sepreate"></div>
				<img src={% static "images/nav_icon_06.png" %} class="message child"/>
				<img src={%static "images/nav_icon_08.png" %} alt="" class="question child" />
				<span class="changeUser child">切换账号</span>
				<!--<img src={%static "images/X_11.png" %} class="close child"/>-->
			</div>
		</div>
		<div class="main">
			<div class="leftNav">
				<div class="ableFlag functionBtn" id="navDataBaseAndPanleFileConnectionViewBtn" ><div class="active"></div><img src={% static "images/connect-select.png" %} alt="" /></div>
				<div class="disableFlag functionBtn" id="navBuildDataViewBtn"><div></div><img src={% static "images/buildData-disable.png" %} alt="" /></div>
				<div class="disableFlag functionBtn" id="navDashBoardViewBtn"><div></div><img src={% static "images/dashboard-disable.png" %} alt="" /></div>
				<div class="disableFlag functionBtn" id="navReporttingViewBtn"><div></div><img src={% static "images/statements-disable.png" %} alt="" /></div>
			</div>
			<div class="rightConent">
               {% include "dataCollection/dataSourceSelect.html" %}
                {% include "dataCollection/dataAnalysis.html" %}
                {% include "dashboard/dashboard.html" %}
                {% include "statements/statements.html" %}
          </div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="maskLayer" style="display: none;"> </div>
	<div id="connectDataBaseInfo" style="display: none;">
    	<div class="topline"></div>
		<div class="common-head">
			<img class="logo"></img>
			<span class="flag"></span>
			<div class="close">
				<img src={% static "images/contentFilter/X_33.png" %} alt="" title="关闭" />
			</div>

		</div>
		<form method="post" id="dataBaseConnectForm">
			{% csrf_token %}
		   <input name="dataBaseName" type="hidden" id="formPostDataBaseName"/>
			<div class="locationDiv">
				<label class="server">服务器: <input type="text" name="location" class="addressinput" placeholder="请输入服务器地址" onfocus="toInputStyle(this)"  onblur="toInputStyleBlur(this)"/></label>
				<label class="port">端口:    <input type="text" name="port" class="portinput" placeholder="端口" onfocus="toInputStyle(this)"  onblur="toInputStyleBlur(this)"/></label>
                <label class="dbSid">SID:<input type="text" name="dbSid" class="dbsidinput" placeholder="请输入ORACLE数据库SID" onfocus="toInputStyle(this)"  onblur="toInputStyleBlur(this)"/></label>
			</div>
			<div class="clear"></div>
			<div class="userDiv">
				<p>输入服务器登录信息:</p>
				<label class="userName">用户名: <input type="text" name="dbuserName" class="usernameinput" placeholder="输入数据库用户名" onfocus="toInputStyle(this)"  onblur="toInputStyleBlur(this)" /></label>
				<label class="userPwd">密码: <input type="password" name="dbuserPwd" class="userpwdinput" placeholder="请输入数据库密码"  onfocus="toInputStyle(this)"  onblur="toInputStyleBlur(this)"/></label>
			</div>

			<div class="otherSetting">
				<label><input type="checkbox" name="needSSL" id="needSSL" value="1" />需要SSL</label>
			</div>
            <div class="dataBaseConnectForm_footer">
                 <a href="#">自定义配置文件<input type="file" style="opacity: 0;"/></a>
                 <a id="loginBtn">登录</a>
            </div>
		</form>
    </div>


 <div id="filter-model">
    	<!--筛选器选择-->
    	{% include "common/filter/filter-select.html" %}

    <!--内容选择器-->
  	{% include "common/filter/filer-content-base.html" %}


    <!--数值筛选器--->
   {% include "common/filter/filter-number-base.html" %}

     <!--日期筛选器-->
 {% include "common/filter/filter-date-base.html" %}

 {% include "common/common_popover.html" %}
   <!--筛选器模块结束-->
 </div>
{#    {% block other %}#}
{#    {% endblock %}#}
    {% include "dataCollection/panelFileOption.html" %}
    {% include "dataCollection/analysisOther.html" %}

</body>
<span id="calculateTextWidth"></span>
</html>
