.clear:after{content:"";display: block;clear: both;}
.topInfo{height:70px !important;}
/*仪表板操作区域*/
html,body{-webkit-user-select: none;overflow: hidden;}

#dashboard_content{width:auto;position: absolute;}
#dashboard_content #new_view{;height:30px;width:100%;position: relative;z-index:300;}
#dashboard_content #new_view ul{width: 100%;height: 100%;}
#dashboard_content #new_view ul li{float: left;width:90px;height: 30px;font-size:12px;height:30px;line-height:30px;text-align: center;cursor: pointer;box-sizing: border-box;position: relative;border-right: 1px solid #DEDEDE}
#dashboard_content #new_view ul li .folderview_li_del_btn{width: 14px;height: 14px;background: url("../img/del-nor_03.png") no-repeat center center;cursor: pointer;position: absolute;top: 7px;right:5px}
#dashboard_content #new_view ul li .folderview_li_del_btn:hover{background: url("../img/failure.png") no-repeat center center;}
#dashboard_content #new_view ul li span{float:left;width:67%;height: 14px;margin:8px 5.5% 0px;line-height: 14px;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
#dashboard_content #new_view ul .auto_show{border-top: 2px solid #f07906;background: white}
#dashboard_content #new_view ul .auto_show .folderview_li_del_btn{display: block}
/*操作栏*/
#action_box{width:auto;height:50px;background: white;box-shadow:0px 3px 5px 0px rgba(0,49,98,0.08);position: relative;z-index: 11;}
#action_box #action_box_ul{height: 50px;float: left;}
#action_box #action_box_ul li{float: left;width: 26px;height: 26px;cursor: pointer;margin-top: 13px;margin-left:0.6rem;}
#action_box #action_box_ul li img{width: 26px;height: 26px;}
#action_box #action_box_ul #cell_click .cell_tra,#action_box #action_box_ul #action_save .cell_tra{width:6px;height: 3px;float: left;margin-top:-20px;margin-left:27px;}
#action_box #action_box_ul li:hover{background:#DEDEDE;}
#action_save{opacity: 0.5}
#buildBoard{width: 100px;height: 22px;background: white;cursor: pointer;float: left;margin: 14px 0 0 12px;}
#build_show{width:100px;height:22px;border: 1px solid #E1E1E1;}
#buildBoard_content{width: 90px;height:22px;margin: 0 auto;}
#buildBoard_buildOpa{width:100px;border: 1px solid #E1E1E1;border-top: none;display: none;}
.buildOpa_wrap{width: 100px;height: 22px;background: white;}
#buildBoard_content p{line-height: 22px;font-size: 12px;}
#buildBoard_content img{float: right;margin-top: -12px;}
#buildBoard_buildOpa p{font-size: 12px;width:90px;height: 22px;line-height: 22px;margin: 0 auto;}
/*单元格弹出*/
#cell_wrap,#action_save_view{width: 100px;border-bottom: 1px solid #E1E1E1;margin-top: -5px;display: none;}
.cell_wrap_content p,#action_save_view p{font-size: 12px;border: 1px solid #E1E1E1;height: 22px;line-height:22px;text-align: center;background: white;border-bottom: none;}


/*侧边栏*/
#pageDashboardModule #dashboard_content #lateral_bar{width:200px;background: white;float: left;}
#pageDashboardModule #dashboard_content #lateral_bar #lateral_title{width:201px;height: 40px;}
#pageDashboardModule #dashboard_content #lateral_bar #lateral_title h4{font-size: 14px;font-weight: 550;line-height: 40px;padding-left: 12px;}
/*搜索*/
#pageDashboardModule #dashboard_content #lateral_bar .dimensionality_search{width: 173px;height: 21px;border: 1px solid #DEDEDE;border-radius: 11.5px;line-height: 21px;position: relative;left:12.5px;display: none;}
#pageDashboardModule #dashboard_content #lateral_bar .dimensionality_search .dimensionality_search_img{width: 23px;height: 23px;vertical-align: middle;box-sizing: border-box;line-height: 23px;border-right: none;border-top-left-radius: 11.5px;border-bottom-left-radius: 11.5px;}
#pageDashboardModule #dashboard_content #lateral_bar .dimensionality_search .dimensionality_search_img img{width: 12px;height: 11px;float: left;margin: 6px 0px 0px 6px;cursor: pointer;}
#pageDashboardModule #dashboard_content #lateral_bar .dimensionality_search .dimensionality_search_input{position:absolute;height: 22px;top: 0;left: 23px;width:150px;border-top-right-radius: 11.5px;border-bottom-right-radius: 11.5px;}

.dimensionality_li,.index_li,.parameter_li,.measure_li{list-style: none;width: 100%;height: 23px;font-size: 12px}
.dimensionality_datatype,.measure_datatype{padding: 0px 5px;width: 18px;height: 23px;float: left;text-align:
center;line-height: 20px;margin-left: 7px;margin-right: 0px;cursor: pointer;}
.dimensionality_li img,.index_li img,.parameter_li img,.measure_li img{vertical-align: middle;}
.set_style{float: left;width: 135px;height: 23px;line-height: 23px;padding:  0px 5px;cursor: pointer;border-radius: 2px;font-size: 12px}
.set_style .moreSelectBtn img,#dashboard_content #lateral_bar #indicator #index_show ul li .index_list_text .moreSelectBtn img,.moreSelectBtn img{margin-left: 5px;}
.set_style .moreSelectBtn,#dashboard_content #lateral_bar #indicator #index_show ul li .index_list_text .moreSelectBtn,.moreSelectBtn{float: right;display: none;width: 13px;}
#drag_row .annotation_text li p img,#drag_col .annotation_text li p img{margin-top:0px;padding:9.5px;padding-right: 0px}
.drop_list_main {width: 135px;height: 23px;float: left;}
 #dimeOrMeasureMoreActionList,#indexHandle{position: absolute;left: 135px;border: 1px solid #dedede;background: white;border-bottom: 0px;z-index: 2}
 #dimeOrMeasureMoreActionList>li,#indexHandle>li{height: 23px;line-height: 24px;box-sizing:border-box;border-bottom: 1px solid #dedede;width: 70px;text-align: center;cursor: pointer;}
  #dimeOrMeasureMoreActionList>li:hover{background: #dedede;}
  #indexHandle>li:hover{background:#dedede;}
 #dimeOrMeasureMoreActionList .typeLi{position: relative;}
 #dimeOrMeasureMoreActionList .changeTypeList{display: none;position: absolute;left: 70px;top:-1px;border: 1px solid #dedede;background: white;z-index: 9;border-bottom: 0;}
 #dimeOrMeasureMoreActionList .changeTypeList>li{height: 21px;line-height: 21px;border-bottom: 1px solid #dedede;width: 100px;}
 #dimeOrMeasureMoreActionList .changeTypeList>li:hover{background: #dedede;}
.dimensionality_list_text_left,.measure_list_text_left{width:90%;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;float: left;text-align: left;}
#drag_row .moreSelectBtn,#drag_col .moreSelectBtn{height: 23px;}
#drag_row .moreSelectBtn img,#drag_col .moreSelectBtn img{margin-top: 9.5px;}
/*指标样式*/
#dashboard_content #lateral_bar #indicator #index_show ul .index_li{width: 100%;height: 23px;}
#dashboard_content #lateral_bar #indicator #index_show ul .index_li .index_list_text,.index_list_text{font-size: 12px;margin-left: 23px;height: 23px;line-height: 23px;display: none;cursor: pointer;width: 145px;padding: 0px 5px;border-radius: 2px;}
#dashboard_content #lateral_bar #indicator #index_show ul .index_li .userinput{height: 23px;border: 0px;width: 185px;color: #808080;margin-left: 23px;width: 145px;text-indent: 3px;}

/*类型图标点击样式切换*/

.type_wic_click_type{width: 100px;position: absolute;z-index: 9999;background: white;border: 1px solid #DEDEDE}
.type_wic_ul{width: 100px}
.type_wic_li{border-bottom: 1px solid #DEDEDE;height: 22px;line-height: 22px;font-size: 12px;cursor:pointer;text-align: left;}


/*维度*/
#dimensionality_show,#measure_show,#index_show,#parameter_show{width:100%;overflow-y: scroll;}
/*#dimensionality,*/#measurement,#indicator,#parameter{border-top: 1px solid #DEDEDE;}
#dimensionality_title,#measurement_title,#indicator_title,#parameter_title{width:176px;margin: 0 auto;height: 32px;}
#dimensionality_title p,#measurement_title p,#indicator_title p,#parameter_title p{font-size: 12px;color: #808080;line-height: 32px;float: left;}
.funcation,.search,.dimensionality_hanble{float: right;height: 32px;}
.funcation img,.search img,.dimensionality_hanble img{margin-left: 10px;display: block;cursor: pointer;}
.funcation img{margin-top:11px;}
.search img{margin-top: 11px;}
.dimensionality_hanble img{margin-top:16px;}

/*指标里内容样式*/
#drop_zb_view li{height: 23px;line-height: 23px;margin: 5px auto 0;list-style: none;background: #a7eff4;}
#drop_zb_view .index_list_text{height: 23px;background:#a7eff4 !important;color: black;width: 100%;margin-left: 0px !important;padding: 0px !important;}
#drop_zb_view .index_list_text span{display: block;}
#drop_zb_view img{display: block;}

/*拖拽维度度量样式*/
#drop_row_view .drog_row_list,#drop_col_view .drog_row_list{height: 23px;line-height: 23px;margin:5px auto 0;list-style: none}
#drop_row_view .drop_main,#drop_col_view .drop_main{width: 94%;float: none;box-sizing: content-box;}
/*biaojizhanshi*/
.color_icon_wrap{width: 13px;height: 13px;line-height: 13px;float: left;margin-top: 4px;margin-left: 5px};
.color_icon{margin-top: 5px;cursor: pointer;}


/*biaojitanchuxianshi*/
.label_icon_wrap{width: 100px;height: auto;border: 1px solid #DEDEDE;position: absolute;background: white;z-index: 9999}
.label_icon_wrap li{width: 100px;height: 23px;border: 1px solid #DEDEDE;}
.label_left_img{width: 25px;height: 23px;position: absolute;left: 0px}
.label_right_text{width: 75px;height: 23px;position: absolute;left: 25px;text-align: center;line-height: 25px}
.label_left_img img{position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto}

/*同比环比样式*/
#editMeasureCalculateView .dimensionalityFiled{width: 360px;margin: 20px auto;}
#editMeasureCalculateView .dimensionalityFiled .withSelect{padding-top: 25px;}
#editMeasureCalculateView .dimensionalityFiled .withSelect span{margin-left: 25px;}
#editMeasureCalculateView .dimensionalityFiled .withSelect p{margin-right: 20px}
#editMeasureCalculateView .dimensionalityFiled .timeChange span{float: left;margin-top: 3px;}
#editMeasureCalculateView .dimensionalityFiled .combo-select{float: left;height: 23px;cursor: pointer;}
#editMeasureCalculateView .dimensionalityFiled .combo-select input{height: 23px;padding-right: 0px;cursor: pointer;}
#editMeasureCalculateView .dimensionalityFiled .textWaring{position: absolute;bottom: 60px;color: #808080;}

/*视图区域*/
#operational_view{min-height:152px;float: left;box-sizing: border-box;background:#f1f2f4;}
.drag_main{width:24.13%;height:100%;background: white;min-width: 188px;min-height: 152px;box-shadow:0px 3px 5px 0px rgba(0,49,98,0.08);float: left;}
#drag_wrap_content{width:100%;min-height:152px;box-sizing: border-box;padding: 0.75rem;height: 152px;}
.drag_main_title{width: 100%;height:30px;background: #fafafa;min-height: 30px;cursor: move;}
.drap_row_title_content{width:91.6%;margin: 0 auto;height:30px;height:100%;}
.drap_row_title_content span{height:30px;font-size: 12px;color: #202020;margin-left:-5px;vertical-align: middle;}
.drag_main_title_icon{float: left;min-height: 30px;height:30px;line-height: 30px}
.drag_main_icon_second{float: right;min-height: 30px;height:30px;line-height: 30px;display: none}
.drag_main_title_icon img{vertical-align: middle;margin-top:-1px;margin-right: 5px}
.drag_main_icon_second img{cursor: pointer;vertical-align: middle;margin-top: -1px;}


/*注释文字*/
.annotation_text{font-size: 12px;text-align: center;color: #808080;height: 122px;line-height: 122px;overflow-x: visible;overflow-y:auto;}
#colorHandle{width: 91.6%;margin: 0.2rem auto 0;}
.handle_one{width:29.2%;height:25px;border: 1px solid #DEDEDE;border-radius: 3px;float: left;line-height:25px;min-width: 50px;min-height: 25px;cursor: pointer;}
.handle_one span{font-size: 12px;padding-left:18%;float: left;line-height:28px;}
.handle_one img{vertical-align: middle;margin-left:7px;margin-top:-2px;}
#handle_color{float: left;}
#information{margin-left: 5.2%;}
#reminder{float: right;}
#handle_color_text{line-height:90px;height:90px;}
#handle_color_text li{height: 23px !important;line-height: 23px !important;float: right !important;list-style: none !important;margin-top: 0!important}
#handle_color_text li p{box-sizing: border-box !important;width: 100% !important;float: right !important;}
#drag_row{float: left;}
#drag_date{float: right;}
#drag_col{margin: 0 0.75rem;}
/*.annotation_text .drog_row_list .dimensionality_list_text img{display: none !important;}*/
/*度量弹窗*/
.annotation_text .drog_row_list .me_out_content,.annotation_text .drog_row_list .me_out_content li .second_menu{width:100px;border:1px solid #DEDEDE;border-bottom: none;background: white;position: absolute;z-index: 999}
.annotation_text .drog_row_list .me_out_content li,#drag_row .annotation_text .drog_row_list .me_out_content li .second_menu li{width:100%;height:23px;border-bottom: 1px solid #DEDEDE;box-sizing:border-box;}
.annotation_text .drog_row_list .me_out_content li p{width: 100%;height: 100%;line-height: 23px;text-align: center;cursor: pointer;color: #000;}
.annotation_text .drog_row_list .me_out_content li .second_menu{position: absolute;top: 22px;right: -102px;display: none;color: #000}
/*视图展示区域*/
#view_show_area{height:auto;background:#F1F2F4;float:left;margin-top: 0.75rem;position: relative;}
#view_show_area_content{width:97.2%;box-sizing: border-box;background:white;margin-left: 0.75rem;box-shadow:0px 3px 5px 0px rgba(0,49,98,0.08);position: relative;}
#view_show_empty{width:100px;height:20px;line-height:20px;font-size: 12px;color: #808080;position:absolute;top: 0;right: 0;bottom: 0;left: 0;margin:auto;}
#view_show_wrap{width: 90%;height: 85%;position: absolute;top: 50px;right: 0;bottom: 0;left: 0;margin: auto;}
#view_show_area #view_show_area_content .tableView_name{font-size: 18px;color: #b4b4b4;float: left;margin: 20px 0px 0px 20px;display: none}
#view_show_area #view_show_area_content .tableView_name h4{font-weight: normal;}
#view_show_area #view_show_area_content .tableView_name input{width: 150px;height: 25px;font-size: 18px;border: 1px solid #DEDEDE;text-indent: 3px;line-height: 100px;}


#dashboard_content #view_show_area  .MoMInfo{position:absolute;z-index: 10;top: 30px;width: 150px;right: 20px;}
#dashboard_content #view_show_area  .MoMInfo .monHeader{height: 22px;}
#dashboard_content #view_show_area  .MoMInfo .monHeader .unitSelectDiv{float: left;height: 20px;width: 30px;margin-left: 2px;}
#dashboard_content #view_show_area  .MoMInfo .monHeader .unitSelectDiv .combo-select{height: 18px;}
#dashboard_content #view_show_area  .MoMInfo .monHeader .unitSelectDiv .combo-select  input{padding: 0;}
#dashboard_content #view_show_area  .MoMInfo .monHeader .filedSelectdiv{float: left;height: 18px;width: 70px;border:1px solid #dedede;margin-left: 2px;}
#dashboard_content #view_show_area  .MoMInfo .monHeader .filedSelectdiv input{height: 18px;width: 70px;vertical-align: top;}
#dashboard_content #view_show_area  .MoMInfo .monHeader .productBtn{float: left;height: 18px;width: 40px;cursor: pointer;font-size: 12px;margin-left: 2px;border: 1px solid #dedede;border-radius: 2px;line-height: 18px;text-align: center;}
#dashboard_content #view_show_area  .momshowArea{position: absolute;left: 20px;top: 40%;z-index: 1000;cursor: pointer;display: none;}
#dashboard_content #view_show_area  .momshowArea table{font-size: 10px;color: #808080;cursor: pointer;}
#dashboard_content #view_show_area .momshowArea table thead tr.title{font-size: 14px;}

#dashboard_content #view_show_area #view_show_area_content  .drillUpAndDrillDownSelection{position: absolute;border-radius: 2px;top: 10px;left: 45%;background: white;}
#dashboard_content #view_show_area #view_show_area_content .drillUpAndDrillDownSelection span{float: left;height: 28px;font-size: 12px;line-height: 28px;text-align: center;border: 1px solid #dedede;}
#dashboard_content #view_show_area #view_show_area_content .drillUpAndDrillDownSelection span.drillUp{color: white;width: 70px;background: #d1d1d1;cursor: pointer;border-right: 0px;}
#dashboard_content #view_show_area #view_show_area_content .drillUpAndDrillDownSelection span.drillUp.active{background:#0d53a4;}
#dashboard_content #view_show_area #view_show_area_content  .drillUpAndDrillDownSelection span.drillDown{color: white;width: 70px;background: #0d53a4;cursor: pointer;border-left: 0px;}
#dashboard_content #view_show_area #view_show_area_content .drillUpAndDrillDownSelection span.levelTitle{color: #202020;padding: 0 5px 0 5px;}
#dashboard_content #view_show_area #view_show_area_content .drillUpAndDrillDownSelection .drillSelctionList{position: absolute;top: 29px;border: 1px solid #dedede;border-bottom: 0px;display: none;}
#dashboard_content #view_show_area #view_show_area_content .drillUpAndDrillDownSelection .drillSelctionList li{border-bottom: 1px solid #dedede;text-indent: 2px;min-width: 85px;height: 20px;background: white;cursor: pointer;}
#dashboard_content #view_show_area #view_show_area_content .drillUpAndDrillDownSelection .drillSelctionList li:hover{background: #dedede;}
.handleAll_wrap{overflow-x: auto}
#view_show_area,#operational_view{width: 100%;min-width: 854px;}

/*筛选器*/
#sizer{width: 210px;position: absolute;top:30px;right: 0;box-sizing:border-box;border: 1px solid #DEDEDE;border-bottom: none;}
#project .sizer_line{background:#0d53a4}

#sizer_wrap,#project{width: 105px;height:50px;position: absolute;cursor: pointer;}
#project{right: 0;}
#sizer_wrap img,#project img{position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
.sizer_line{width: 100%;height:1px;background: #DEDEDE;position: absolute;bottom: 0;}
#sizer_place{width: 100%;position: absolute;top: 50px;overflow-y: auto;}
#sizer_mpt{width: 100%;text-align: center;display: none;}
#sizer_mpt img{width: 26px;height: 26px;}
#sizer_mpt p{font-size: 12px;color:#fc9d3f;margin-top: 10px;}

#sizer_content{display: none;}
#sizer_content .filter_header_div{height: 35px;width: 180px;position: relative;}
#sizer_content .filter_header_div .floatLeft{float: left;height: 100%;line-height:40px;}
#sizer_content .filter_header_div span.logoFlag{margin-left: 10px;color: #595959;font-size: 12px;}
#sizer_content .filter_header_div span.cubeTableName{margin-left: 10px;font-size: 10px;}
#sizer_content .filter_header_div div.filter_content_btn{position: absolute;height: 100%;width: 23px;line-height: 35px;right: 0;cursor:pointer;}
#sizer_content .filter_header_div div.filter_content_btn img{margin-left: 10px;vertical-align: middle;}
#sizer_content .filter_header_div .bottomLine{position: absolute;height: 1px;background: #dedede;bottom: 0;width: 183px;}

#sizer_content .dateSelectDataModule{margin: 10px 0 0 10px;background: white; box-shadow: 0px 3px 5px 0px rgba(0,49,98,0.08);width: 180px;height: 120px;}
#sizer_content .dateSelectDataModule .fieldSelectPart{width: 100%;height: 40px;background: #f5f5f5}
#sizer_content .dateSelectDataModule .fieldSelectPart>p{color: #808080;float: left;height: 40px;line-height: 40px;width: 35px;text-align: right;font-size: 12px;}
#sizer_content .dateSelectDataModule .fieldSelectPart>.fieldSelect-box{float: left;margin-left: 5px;width: 130px;height: 23px;margin-top: 8px}
#sizer_content .dateSelectDataModule .fieldSelectPart>.fieldSelect-box .combo-select{height: 21px;}
#sizer_content .dateSelectDataModule .fieldSelectPart>.fieldSelect-box .combo-input{padding: 0;height: 100%;user-select: none;cursor: pointer;text-align: left;text-indent: 5px;}

#sizer_content .dateSelectDataModule .startDatePart{height: 23px;margin-top: 15px;}
#sizer_content .dateSelectDataModule .startDatePart>p{color: #808080;float: left;height: 23px;line-height: 23px;width: 35px;text-align: right;font-size: 12px;}
#sizer_content .dateSelectDataModule .startDatePart>.startDateInput-box{float: left;margin-left: 5px;width: 130px;border: 1px solid #dedede;height: 21px;border-radius: 2px}
#sizer_content .dateSelectDataModule .startDatePart>.startDateInput-box input,#sizer_content .dateSelectDataModule .endDatePart>.endDateInput-box input{width: 113px;text-indent: 5px}
#sizer_content .dateSelectDataModule .endDatePart{height: 23px;margin-top: 5px;}
#sizer_content .dateSelectDataModule .endDatePart>p{color: #808080;float: left;height: 23px;line-height: 23px;width: 35px;text-align: right;font-size: 12px;}
#sizer_content .dateSelectDataModule .endDatePart>.endDateInput-box{float: left;margin-left: 5px;width: 130px;border: 1px solid #dedede;height: 21px;border-radius: 2px}


#sizer_content .filter_body_div{font-size: 10px;margin-top: 5px;}
#sizer_content .filter_body_div p {height:20px;line-height: 20px;border-top: 1px solid #DEDEDE;}
/*#sizer_content .filter_body_div p.cubeTableName{font-size: 12px;text-indent: 10px;}*/
#sizer_content .filter_body_div ul.table_field_list li .field_header_div{position: relative;height: 23px;}
#sizer_content .filter_body_div ul.table_field_list li .openAndCloseImg{position: absolute;left: 10px;top: 9px;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv{position: absolute;left: 25px;height: 23px;width: 165px;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv span.fieldName{position: absolute;left: 0;top: 0;height: 23px;line-height: 23px;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv .filterSelectImgDiv{position: absolute;right: 25px;height: 23px;text-align: right;width: 23px;cursor: pointer;display: none;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv .filterSelectImgDiv img{margin-top: 5px;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv .filterDetailImgDiv{position: absolute;right: 0px;height: 23px;cursor: pointer;width: 23px;display: none}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv .filterDetailImgDiv.active{background: rgba(0,0,0,0.1);border-radius: 2px;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv .filterDetailImgDiv img{margin-top: 5px;margin-left: 6px;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv:hover{background: #dedede;border-radius: 2px;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv:hover .filterSelectImgDiv{display: inline-block;}
#sizer_content .filter_body_div ul.table_field_list li .fieldWholeDiv:hover .filterDetailImgDiv{display: inline-block;}
#sizer_content .filter_body_div ul.table_field_list li ul.field_detail_list li{margin-left: 25px;padding-top: 5px;}
#sizer_content .filter_body_div ul.table_field_list li ul.field_detail_list li span.filedContentName{margin-left: 5px;}
#sizer_content .filter_body_div ul.table_field_list li .filterBox{border: 1px solid #DEDEDE;border-radius: 2px;margin-left: 10px;width: 178px;height: 120px;display: none;}
#sizer_content .filter_body_div ul.table_field_list li .filterBox p.detail_logo{text-indent: 10px;height: 21px;border-bottom: 1px solid #DEDEDE;line-height: 21px;font-size: 10px;}
#sizer_content .filter_body_div ul.table_field_list li .filterBox ul.filter_list{height: 75px;text-indent: 10px;}
#sizer_content .filter_body_div ul.table_field_list li .filterBox .bottomHandleDiv{position: relative;top: 3px;}
#sizer_content .filter_body_div ul.table_field_list li .filterBox .bottomHandleDiv .switchDiv{position: absolute;left: 10px;cursor: pointer;}
#sizer_content .filter_body_div ul.table_field_list li .filterBox .bottomHandleDiv .deleteRecordDiv{position: absolute;right: 10px;text-align: right;cursor: pointer;}
#sizer_content .filter_body_div ul.table_field_list li .filterBox  ul.filter_list li{cursor: pointer;}
#sizer_content .filter_body_div ul.table_field_list li .filterBox  ul.filter_list li.active{background: #dedede;}


/*设计样式*/
/*#project_style{width: 100%;height:280px;}*/
#project_style{border-top: 1px solid #dedede;}
#project_style .module_style p.title{font-size: 14px;color: #808080;padding-left: 10px;padding-top: 10px;}
#project_style .module_style .color_control{margin-top: 10px;font-size: 10px;}
#project_style .module_style span.colorCube{width: 20px;height: 20px;border-radius: 2px;margin-left: 5px;float: left;}
#project_style .module_style .color_control .defaultColors{height: 20px;}
#project_style .module_style .color_control .defaultColors .color_flag{float: left;height: 20px;line-height: 20px;margin-left: 10px;}
#project_style .module_style .color_control .defaultColors .selectedColors{margin-left: 5px;float: left;width: 125px;}
#project_style .module_style .color_control .defaultColors .selectedColors span.colorCube{float: left;}
#project_style .module_style .color_control .defaultColors  .moreColorBtn{margin-left: 5px;float: left;width: 20px;height: 20px;cursor: pointer;}
#project_style .module_style .color_control .defaultColors  .moreColorBtn img{margin-left: 6px;margin-top: 8px;}

#project_style .module_style .color_control .otherColorsModule{border: 1px solid #dedede;border-radius: 2px;margin-left: 10px;margin-top: 6px;width: 180px;}
#project_style .module_style .color_control .otherColorsModule .someColorList .colorGroupItem{height: 20px;margin-left: 10px;padding-bottom: 5px;padding-top: 5px;}
#project_style .module_style .color_control .otherColorsModule .someColorList .colorGroupItem span.colorName{float: left;height: 20px;line-height: 20px;}
#project_style .module_style .color_control .otherColorsModule .someColorList .colorGroupItem .colorsContainer{width: 125px;height: 20px;float: left;margin-left: 5px;cursor: pointer;}
#project_style .module_style .color_control .otherColorsModule .otherMoreColor{border-top: 1px solid #dedede;text-align: center;color: #808080;height: 20px;line-height: 20px;cursor: pointer;}
#project_style .module_style .color_control .otherColorsModule .someColorList .colorGroupItem .colorsContainer:hover{background: #dedede;}

#project_style .module_style .normalUnit{margin-top: 15px;}
#project_style .module_style .normalUnit span.title{float: left;font-size: 12px;margin-left: 10px;height: 20px;line-height: 20px;}
#project_style .module_style .normalUnit .content{float: left;margin-left: 5px;font-size: 10px;}
#project_style .module_style .normalUnit .content span{float: left;height: 18px;margin-left: 5px;border: 1px solid #dedede;border-radius: 2px;padding-left: 3px;padding-right: 3px;cursor: pointer;}
#project_style .module_style .normalUnit .content span.active{color: white;background: #0d53a4;}

#project_style .module_style .valueUnit{margin-top: 10px;position: relative;height: 50px;}
#project_style .module_style .valueUnit span.title{position:absolute;font-size: 12px;left: 10px;height: 20px;line-height: 20px;margin-top: 5px;}
#project_style .module_style .valueUnit .content{position: absolute;left: 50px;font-size: 10px;height: 50px;width: 140px;}
#project_style .module_style .valueUnit .content span{float: left;height: 18px;margin-left: 5px;border: 1px solid #dedede;border-radius: 2px;padding-left: 3px;padding-right: 3px;margin-top: 5px;cursor: pointer;}
#project_style .module_style .valueUnit .content span.active{color: white;background: #0d53a4;}





#sizer_content{display: none;}
.project_icon_hover{width:40px;height: 40px;float: left;margin:5px 0px 0px 6px;cursor: pointer;opacity: 0.5;box-sizing: border-box;}
.project_icon_hint_wrap{position: absolute;background: white;width: auto;box-shadow:0px 3px 5px 0px rgba(0,49,98,0.08);z-index:999;border-radius: 2px}
.project_icon_hint_wrap p{font-size: 12px;padding: 0px 25px 0px 11px;}
.project_icon_hint_wrap p:nth-child(1){color: #000;padding-top: 10px;}
.project_icon_hint_wrap p:nth-child(2){color: #808080;padding-top: 7px;}
.project_icon_hint_wrap p:nth-child(3){color: #808080;padding-top: 7px;padding-bottom: 7px;}
.project_icon_hint_wrap img{position: absolute;right: -6px;top: 28.5px;}

/*筛选器 设计 icon*/
#sizer_icon,#project_icon{float: right;margin-top: 13px;cursor:pointer;width:26px;height: 26px;border: 1px solid #DEDEDE;}
#sizer_icon:hover{background: #F1F2F4;}
#project_icon:hover{background: #F1F2F4;}
#project_icon{margin-right: 21px;margin-left: 12px;}
#project_chart{width: 100%;position: relative;} /*height:410*/
#project_chart_title{width:100%;height: 34px;}
#project_chart_title h5{font-size: 14px;color: #808080;line-height: 34px;margin-left:10px;margin-top: 3px;}
#project_show_line{width: 190px;height: 1px;background: #DEDEDE;position: absolute;bottom: 0;display: none}


/*保存视图弹窗*/
#view_save_up{width:400px;height:auto;position: absolute;z-index: 1222;display: none;background: white;border-radius: 5px}
#view_save_up #view_save_up_line{width: 100%;height: 5px;background-image:linear-gradient(to right,#0d53a4,#00bdc9);border-top-left-radius: 5px;border-top-right-radius: 5px;}
#view_save_up_head{width: 100%;height: 45px;line-height: 45px;border-bottom: 1px solid #DEDEDE;position: relative;}
#view_save_up #view_save_up_head>span{font-size: 14px;font-weight: bold;margin-left: 20px;}
#view_save_up #view_save_up_head .view_save_up_close{position: absolute;right:10px;top:0px;}
#view_save_up #view_save_up_head .view_save_up_close img{width: 8px;height: 8px;cursor: pointer;}
/*新建报表*/
#view_save_up #view_add_state{width: 100%;height:45px;}
#view_save_up #view_add_state img{width: 23px;height: 23px;cursor:pointer;vertical-align: middle;float: left;}
#view_save_up #view_add_state img:hover{background: #DEDEDE;}
#view_save_up #view_add_state label{float:left;height: 23px;margin-top: 11px;margin-left: 3px}
#view_save_up #view_add_state>span{font-size: 12px;float: left;margin-left: 20px}
#view_save_up #view_add_state label input{width: 278px;height: 21px;border: 1px solid #DEDEDE;float: left;text-indent:3px;}
#view_save_show_search{width: 100%;height: auto;padding-bottom: 3px;}
#view_save_show_search #key_search{margin:10px 0px 10px 20px;}
#view_save_show_search #key_search input{width:337px;height: 23px;box-sizing:border-box;border: 1px solid #DEDEDE;float: left;text-indent:5px;border-top-left-radius: 11.5px;border-bottom-left-radius: 11.5px;border-right: none;line-height: 24px;}
#view_save_show_search #key_search #key_search_img_wrap{width:23px;height: 23px;vertical-align: middle;box-sizing:border-box;line-height:23px;border:1px solid #DEDEDE;border-left:none;border-top-right-radius: 11.5px;border-bottom-right-radius: 11.5px;float: left;}
#view_save_show_search #key_search #key_search_img_wrap img{width:12px;height: 11px;float: right;margin-top:5px;margin-right: 5px;cursor:pointer;}
#save_view_handle{width: 100%;height:50px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background: #f5f5f5;}
#save_handle_close,#save_handle_open{width: 70px;height: 30px;float: right;border:1px solid #0d53a4;line-height: 30px;text-align: center;border-radius:5px;margin-top: 10px;margin-right:20px;font-size: 12px;cursor: pointer;}
#save_handle_close{color: #0d53a4;}
#save_handle_open{color: white;background: #0d53a4}
#show_excel_name{width: 360px;height: 175px;margin: 0 auto;overflow-y:auto;}
.show_view_if_hide{font-size: 12px;color:#0d53a4;float: left;cursor: pointer;margin: 16px 0px 0px 20px;}
.state_folder_content{height: 23px;line-height: 25px;}
.click_folder{margin:5px 5px 0px 0px;line-height: 23px;float: left;}
.view_show_name_save{width: 120px;height: 23px;line-height: 26px;text-align: left;font-size: 12px;float: left;cursor: pointer;}
.dashboard_statement_li{width:343px;font-size: 12px;margin-left:17px;position: relative;}
.dashboard_statement_li_content{height: 23px;line-height: 26px;margin-bottom: 1px}
.view_show_icon{margin: 5px 5px 0px 0px;float: left;}
.click_tra{width: 9px;height:5px;margin:9.5px 8px 0px 0px ;float: left;cursor: pointer;}
.only_folder{width: 100%;margin-left: 0;}
.only_folder .view_show_name_save{width: 341px;text-indent: 3px;}

.active_data_name{width:360px;height: 23px;background:white;text-indent:5px;font-size: 12px;line-height: 24px;border-radius: 3px;margin-bottom: 5px;cursor:pointer;}
.active_folder_view{background:#eeeeee;border-radius: 2px;}

/*视图窗口删除提示框*/
#pageDashboardModule #clickWallDelete{width: 350px;height: 260px;border-radius: 5px;background: white;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;z-index: 9999;display: none}
#pageDashboardModule #clickWallDelete #clickWallDelete_close{position: absolute;right: 0;top: 0;cursor:pointer;}
#pageDashboardModule #clickWallDelete .clickWallDelete_img{width: 67px;height: 62px;margin: 30px auto;}
#pageDashboardModule #clickWallDelete .clickWallDelete_text p{text-align: center;font-size: 14px;font-weight: bolder;}
#pageDashboardModule #clickWallDelete .clickWallDelete_ok{width: 160px;margin: 35px auto 0px;}
#pageDashboardModule #clickWallDelete .clickWallDelete_ok>div{width: 70px;height: 30px;border:1px solid #0d53a4;font-size: 12px;color: #0d53a4;box-sizing: border-box;border-radius: 3px;float: left;text-align: center;line-height: 30px;cursor: pointer;}
#pageDashboardModule #clickWallDelete .clickWallDelete_ok .clickWallDelete_yes{background: #0d53a4;margin-left: 20px;color: white}



/*body遮罩*/
#body_content_shadow{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.3);z-index: 1111;display: none}


/*拖拉拽样式*/
.ui-state-default_z{border:1px solid #4169E1}
.ui-state-hover_z{background:#DEDEDE;}


/*侧边栏点击更换数据类型*/
.change_type{background: url(../img/selected.png) no-repeat center center;}
.change_type_num{background: url(../img/succeed.png) no-repeat center center;}

/*标记icon展示替换*/
.change_lable_icon{width:25px;height: 23px;background: #FF7E00;float: left;}
