<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中转页面</title>
</head>
<body>
<h1>{{results}}</h1>
	<p><a href="/dataCollection/pallasdata">前往工作页面</a></p>
	<br>
	<br>
	<p><a href="/uiaccounts/add/pallasdata/">为用户添加pallasdata组</a></p>
	<p><a href="/uiaccounts/remove/pallasdata/">为用户删除pallasdata组</a></p>
	<br>
	<p><a href="/uiaccounts/add/dataBuildView/">为用户添加dataBuildView组</a></p>
	<p><a href="/uiaccounts/remove/dataBuildView/">为用户删除dataBuildView组</a></p>
	<br>
	<p><a href="/uiaccounts/add/pallasdata2/">为用户添加pallasdata2组</a></p>
	<p><a href="/uiaccounts/remove/pallasdata2/">为用户删除pallasdata2组</a></p>
	<br>
	<br>
	<br>
	<a href="/uiaccounts/logout/">登出</a>
</body>
</html>