<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
</head>
<body>
	<h1>登录</h1>
	<h3><a href="/uiaccounts/register/">注册</a></h3><h4><a href="/uiaccounts/loginproblem/">登录出现问题</a></h4>
	<form action="/uiaccounts/afterlogin/" method="post">
	{% csrf_token %}
		<label>name</label><input type="text" name="name">
		<label>pwd</label><input type="text" name="password">
		<input type="hidden" name="next" value="{{ next }}">
		<input type="submit" name="" value="提交按钮">
	</form>
</body>
</html>