{% load static %}
<link rel="stylesheet" href={% static "dashboard/css/dashboard_table.css"%} />
<link rel="stylesheet" href={% static "statements/css/statements.css" %}>
<link rel="stylesheet" href={% static "statements/css/jquery.gridster.css" %}>
<script src={% static "statements/js/jquery.gridster.js"%} type="text/javascript" charset="utf-8"></script>
<script src={% static "statements/js/state_chartsHandle/state_pre_dataHandle.js"%} type="text/javascript" charset="utf-8"></script>
<script src={% static "statements/js/statements_view_handle.js"%} type="text/javascript" charset="utf-8"></script>
<script src={% static "statements/js/state_chartsHandle/state_chartHandle.js"%} type="text/javascript" charset="utf-8"></script>
<script src={% static "statements/js/state_table.js"%} type="text/javascript" charset="utf-8"></script>
<script src={% static "statements/js/textarea_auto.js"%} type="text/javascript" charset="utf-8"></script>
<script src={% static "statements/js/html2canvas-0.4.1.js"%} type="text/javascript" charset="utf-8"></script>
<script src={% static "statements/js/jspdf.min.js"%} type="text/javascript" charset="utf-8"></script>
<script src={% static "statements/js/statements.js"%} type="text/javascript" charset="utf-8"></script>

<div id="pageStatementsModule" class="pageModuleNav" style="display: none;">	
	<!--侧边栏 -->
	<div id="statements_left_bar">
		<!-- title -->
		<div id="state_left_bar_title" class="clear">
			<p>视图库</p>
			<!--搜索 -->
			<div id="statements_left_search">
				<img src={% static "images/contentFilter/search.png" %} alt="搜索">
			</div>

			<!-- 下拉三角 -->
			<div id="statements_left_tra">
				<img src={% static "images/contentFilter/more.png" %} alt="更多">
				<div id="statements_add_folder">
					<div class="statements_add_folder_son" id="add_folder_btn">创建文件夹</div>
					<div class="statements_add_folder_son" id="add_view_btn">创建视图报表</div>
					<div class="statements_add_folder_son" id="remove_all_folder">移除全部文件夹</div>
					<div class="statements_add_folder_son" id="show_all_hide">显示全部隐藏</div>
				</div>
			</div>
		</div>
		<div class="view_search clear">
			<div class="view_search_img">
				<img src={% static "dashboard/img/search.png" %} alt="search">
			</div>
			<input type="text" placeholder="请输入查询的字段" class="view_search_input">
		</div>

		<!-- 侧边栏展示区域 -->
		<div id="statements_left_bar_area">
			
		</div>

		<!-- 侧边栏收起按钮 -->
		<div id="statements_left_bar_btn_close">
			<img src={% static "images/contentFilter/nr_47.png" %} alt="收起">
		</div>
	</div>


	<!--右侧报表视图展示区域-->
	<div id="right_folder_show_are">
		<!-- titile文件显示 操作 -->
		<div class="right_folder_name_show">
			<div class="right_folder_name_show_img">
				<img src={% static "statements/img/file_icon.png" %} alt="folder_icon">
			</div>
			<!-- 有没有文件夹的存在 -->
			<div class="right_if_have_parentfolder">
				<span></span>
				<img src={% static "statements/img/jt.png" %} alt="right_icon">
			</div>
			<!-- 报表名称展示 -->
			<div class="right_folder_view_name">
				<select class='view_folder_select'>

				</select>
			</div>
		</div>


		<!-- 右侧发布操作部分 -->
	<div class="click_out_handle">
		<!-- 新增视图 -->
		<div class="click_new_view">
			<img src={% static "statements/img/add-view.png" %} alt="click_folder">
			<span>新增视图</span>
		</div>
		<!-- 主题风格 -->
		<div class="theme_style right_handle_ele">
			<img src={% static "statements/img/theme.png" %} alt="theme_style">
		</div>
		<!-- 下载 -->
		<div class="theme_down right_handle_ele">
			<img src={% static "statements/img/download.png" %} alt="theme_down">
		</div>
		<!-- 发布 -->
<!-- 		<div class="theme_release right_handle_ele">
			<img src={% static "statements/img/Release.png" %} alt="theme_release">
		</div> -->

	</div>
	
	<!-- 报表视图展示区域 -->
	<div class="view_folder_show_area clear gridster">
		<ul class="gridster_ui" id="click_get_pdf">
			
		</ul>
	</div>
	</div>
<!-- end -->
	


</div>