.clear:after{content:"";display: block;clear: both}
html,body{-webkit-user-select:none;}


/*侧边栏*/
.rightConent #statements_left_bar{width: 200px;height: 100%;background: white;position: absolute;box-shadow: 0px 0px 4px 1px #DEDEDE;float: left;}
.rightConent #statements_left_bar #state_left_bar_title{width: 100%;height: 38px;line-height: 38px;}
.rightConent #statements_left_bar #state_left_bar_title>p{font-size: 12px;color: #808080;float: left;margin-left: 10px;}
.rightConent #statements_left_bar #statements_left_bar_area{width:200px;}
.rightConent #statements_left_bar #state_left_bar_title #statements_left_tra,#statements_left_bar #state_left_bar_title #statements_left_search{float: right;margin-right: 10px;height: 100%;}
.rightConent #statements_left_bar #state_left_bar_title #statements_left_tra{width: 8px}
.rightConent #statements_left_bar #state_left_bar_title #statements_left_tra img{width: 8px;height:4px;vertical-align: middle;cursor: pointer;padding: 5px 0px 5px 5px;}
.rightConent #statements_left_bar #state_left_bar_title #statements_left_search img{width: 12px;height: 11px;vertical-align: middle;cursor: pointer;margin-left: 5px;}
.rightConent #statements_left_bar #statements_left_bar_btn_close{width:14px;height:38px;position: absolute;right:-7px;z-index: 66}
.rightConent #statements_left_bar #statements_left_bar_btn_close img{width: 14px;height: 38px;cursor: pointer;}
/*.rightConent #statements_left_bar #statements_left_bar_area{overflow: auto}*/
/*侧边栏内容展示*/
.rightConent #statements_left_bar #statements_left_bar_area .state_folder{width:180px;margin: 0 auto;margin: 0 auto;font-size: 12px;}
.rightConent #statements_left_bar #statements_left_bar_area .click_folder{margin:5px 5px 0px 0px;line-height: 23px;}
.rightConent #statements_left_bar #statements_left_bar_area .click_delete{width: 13px;height: 13px;float: right;margin-top: 5px;cursor: pointer;display: none}
.statement_li{width:90%;font-size: 12px;margin: 0 auto;position: relative;}
.rightConent #statements_left_bar #statements_left_bar_area .statement_li_content{height: 23px;line-height: 26px;margin-bottom: 1px}
.rightConent #statements_left_bar #statements_left_bar_area .click_tra{width: 9px;height:5px;margin:9.5px 8px 0px 0px ;float: left;cursor: pointer;}
.rightConent #statements_left_bar #statements_left_bar_area .click_more{width: 8px;height:4px;float: right;margin: 4.5px 3px 0px 0px;cursor: pointer;display: none;padding: 5px 0px 5px 5px;}
.rightConent #statements_left_bar #statements_left_bar_area .view_show_handle{width:91%;height: 23px;margin-left:12px;text-indent: 5px;padding-right: 5px;line-height:23px;cursor: pointer;}
/*.view_show_handle:hover{background: #f5f5f5}*/
.hide_or_show{width: 14px;height: 14px;float: right;cursor: pointer;margin-top: 4.5px;display: none}
.view_show_icon{margin: 5px 5px 0px 0px;float: left;}
.floder_view_wrap{width:180px;margin-left:17px;box-sizing: border-box;padding-right: 17px;}
/*视图库创建文件夹*/
#statements_add_folder{width: 100px;border-bottom: 1px solid #E1E1E1;margin-top: -5px;font-size: 12px;margin-left: -50px;position: relative;z-index: 999;display: none}
#statements_add_folder .statements_add_folder_son{width: 100%;height: 22px;border: 1px solid #E1E1E1;line-height: 22px;text-align: center;background: white;border-bottom: none;cursor:pointer;}
#statements_add_folder .statements_add_folder_son:hover{background:#E1E1E1;}
.view_show_name_save{width: 120px;height: 23px;line-height: 26px;text-align: left;font-size: 12px;float: left;cursor: pointer;}
.view_show_img_content,.hide_or_show_wrap{width:23px;height:23px;float: right;}
.view_show_img_content img{cursor: pointer;}

.small_view_text{float: left;line-height: 24px;}
/*报表按钮点击事件*/
#new_state_wrap{width:100px;border-bottom: 1px solid #E1E1E1;text-align: center;font-size: 12px;position: absolute;right: 0;z-index: 9999;top: 23px;background: white}
#new_state_wrap .new_state_content{width: 100%;border:1px solid #E1E1E1;border-bottom: none;height:22px;line-height: 22px;cursor: pointer;}
#new_state_wrap .new_state_content:hover{background: #E1E1E1;}

/*新建文件夹*/

.click_new_folder{width: 180px;height: 23px;line-height: 23px;margin: 0 auto 5px;position: relative;}
.click_new_folder_input{width: 137px;height: 23px;box-sizing: border-box;float: left;border: 1px solid #E1E1E1;text-indent: 3px;font-size: 12px;}
.click_folder{float: left;}
.click_or{float: left;margin:5px 5px 0px 0px;line-height: 25px;}
.folder_name_show{width: 137px;height: 23px;line-height: 26px;text-align: left;font-size: 12px;float: left;cursor: pointer;}
.state_folder_content{height: 23px;line-height: 25px;}

/*删除弹出框*/
#delete_area{width: 350px;height: 260px;border-radius: 5px;background: white;position: absolute;top: 0;right: 0;bottom:0;left: 0;margin: auto;display: none;z-index:9999}
#delete_area #delete_area_close{position: absolute;right: 0;top: 0;cursor: pointer;}
#delete_area .delete_area_img{width: 67px;height: 62px;margin: 30px auto;}
#delete_area .delete_area_text{text-align: center;font-size: 14px;font-weight: bold;}
#delete_area .delete_checked{text-align: center;font-size:12px;margin-top:10px;margin-bottom:62px;}
input[type=checkbox] {visibility: hidden;}
#delete_area .delete_checked .delete_area_input{width: 12px;height:12px;position: absolute;border-radius: 2px;left:78px;}
#delete_area .delete_checked .delete_area_input label{cursor: pointer;position: absolute;width: 10px;height: 10px;top:3px;left:0px;border:1px solid #ddd;border-radius:2px;background:#0d53a4;}
.delete_area_input label:after{opacity:1;content:"";position: absolute;width:7px;height: 3px;background: transparent;top:2px;left:1px;border:1px solid white;border-top: none;border-right: none;transform: rotate(-45deg);}
.delete_area_input input[type=checkbox]:checked + label{background: white !important;}
.delete_area_input input[type=checkbox]:checked + label:after{border-color: #ddd;opacity: 0;}
#delete_area .delete_checked p{color:#808080;position: absolute;left: 95px;}
#delete_area .delete_area_ok_btn{width: 160px;height: 30px;background: #0d53a4;color: white;text-align: center;line-height: 30px;margin:0 auto;font-size: 12px;border-radius: 3px;cursor: pointer;}
/*拖拉拽样式*/
.ui-state-default_z{border:1px solid #e2efff}
.ui-state-hover_z{background:#e2efff;}

/*右侧视图展示区域*/
#right_folder_show_are{float: left;height: 100%;box-sizing: border-box;margin-left: 200px;}

.view_folder_show_area{width: 100%;box-sizing:border-box;padding: 0px 10px;overflow-y: auto;background:#f1f2f4}
.view_folder_show_area ul{margin: 0;padding: 0;position: absolute !important;width: 100%;}
/*#right_folder_show_are .view_folder_show_area ul li{transition: none;}*/
.right_folder_name_show{float: left;margin:15px 0px 15px 20px;display: none}
.right_folder_name_show .right_folder_name_show_img{width: 14px;height: 14px;vertical-align: middle;float: left;margin: 5px 10px 0px 0px}
.right_if_have_parentfolder{float: left;font-size: 16px;}
.right_if_have_parentfolder img{margin: 0px 5px;}
.right_folder_view_name{float: left;}
.combo-select{float: left;width: 150px;height: 22px;background: white;margin-left: 5px}
.combo-input{text-align: left;text-indent: 5px;height: 22px;line-height: 22px;padding: 0px;}
.combo-dropdown li{padding: 3px;font-size: 12px;}
/*右侧发布部分*/
.click_out_handle{float: right;margin: 20px 20px 0px 0px;}
.click_out_handle .click_new_view{width: 100px;height:30px;line-height:30px;box-sizing:border-box;border: 1px solid #DEDEDE;background: white;float: left;cursor:pointer;}
.click_out_handle .click_new_view img{vertical-align: middle;margin: -3px 3px 0px 12px;}
.click_out_handle .click_new_view span{font-size: 12px;}
.right_handle_ele{width: 30px;height: 30px;border: 1px solid #DEDEDE;box-sizing: border-box;float: left;margin-left: 10px;cursor: pointer;}
.right_handle_ele img{margin: 6.5px 0px 0px 6px;}

/*右侧视图区域视图*/
.view_folder_show_area .new_view_content{background: white;box-shadow:0px 1px 10px 1px #DEDEDE;}
.view_folder_show_area .new_view_content .new_view_title{width: 100%;height: 30px;background: #f5f5f5;box-sizing: border-box;padding: 4px 9px 0px;}
.view_folder_show_area .new_view_content .new_view_title .new_view_table_name{font-size: 12px;float: left;width: 120px;height: 20px;border: 1px solid #DEDEDE;box-sizing: border-box;background: white;text-indent: 3px;margin-top: 1px;}
.view_folder_show_area .new_view_content .new_view_right_icon{float: right;}
.view_folder_show_area .new_view_content .new_view_right_icon .add_css_img{width: 23px;height: 23px;float: left;box-sizing: border-box;cursor: pointer;}
.view_folder_show_area .new_view_content .new_view_right_icon .add_css_img img{margin: 4.5px 0px 0px 4.5px}
.new_view_content .new_view_main{width: 100%;box-sizing: border-box;background: white !important;z-index: 3;padding:10px;}
.cookie_handle_view .view_show_name_save{color: #0d53a4}
.portlet-placeholder {border: 1px dotted black;width: 100%;height: 100%;}
.view_folder_show_area .new_view_content .new_view_title .new_view_table_name .title_name_input{width: 120px;height: 20px;line-height: 20px;text-indent:3px;}
.view_folder_show_area .new_view_content .new_view_title .title_name_change_btn{width:20px;height: 20px;background: url("../img/right-icon_03.png") no-repeat center;float: left;margin-top: 1px;cursor: pointer;}
.view_folder_show_area .new_view_content .textarea{position: absolute;min-height: 23px;top: 35px;z-index:9999;left: 9px;display: none}
.view_folder_show_area .new_view_content .textarea textarea{width: 100%;font-size: 12px;height:46px;outline: none;line-height: 17px;box-sizing: border-box;padding: 2px;overflow-x: hidden;overflow-y: auto;resize: none}
/*视图缩略图*/
.view_show_handle .thumbnail_wrap{width: 200px;height: 200px;box-sizing:border-box;border:1px solid #DEDEDE;position:absolute;left: 190px;z-index:9999;border-radius: 3px;background: white;opacity: 1 !important;}
.view_show_handle .thumbnail_wrap img{width:198px;float: left;}

/*表格样式*/
.new_view_table{min-width: 100%;font-size: 12px;position: relative;left: 0;top: 0;background: white}
.new_view_table .top_column_container{overflow: visible;}
.new_view_table .top_column_container .top_column_name{text-align: center;font-weight: bold}
.new_view_table .top_column_container .column_data_list{border-bottom: 1px solid #dedede;border-left: 1px solid #dedede;}
.new_view_table .top_column_container .column_data_list tr td{border-right: 1px solid #dedede;color: #808080;min-width: 50px;text-align: center;}
.new_view_table .top_column_container .column_data_list tr:nth-of-type(1) td{color: black;}
.view_table_clone{position: absolute;left: 0px !important;top: 0px !important;}

.new_view_table .left_row_container{position: absolute;top: 10px;left: 10px;}
.new_view_table .left_row_container table{border:0px;border-collapse: collapse;overflow: auto;}
.new_view_table .left_row_container table tr{border-bottom: 1px solid #dedede;}
.new_view_table .left_row_container table tbody tr {border-right: 1px solid #dedede;}
.new_view_table .left_row_container table tr th{padding-right: 10px;vertical-align: bottom;}
.new_view_table .left_row_container table tr td{color: #808080;}
.new_view_table .left_row_container table tr td.firstRow{color: black;}
.new_view_table table tr td{min-width: 50px;}

.new_view_table .right_module{min-width: 100px;}
.new_view_table .content_body #data_list_for_body{position: relative;}
.new_view_table .content_body #data_list_for_body .vertical_line{position: absolute;width: 1px;height: 100%;background: #dedede;top: 0;}
.new_view_table .content_body #data_list_for_body li{width: 100px;border-bottom: 1px solid #dedede;}
.new_view_table .content_body #data_list_for_body li:nth-of-type(odd){background: #f5f5f5;}
.new_view_table .content_body #data_list_for_body li:nth-of-type(even){background: white;}
.new_view_table .content_body #data_list_for_body  .measureDiv{position: absolute;}

